html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
@font-face {
	font-family: 'Roboto Slab';
	src: url('/fonts/RobotoSlab-Thin.eot');
	src: local('Roboto Slab Thin'), local('RobotoSlab-Thin'),
		url('/fonts/RobotoSlab-Thin.eot?#iefix') format('embedded-opentype'),
		url('/fonts/RobotoSlab-Thin.woff') format('woff'),
		url('/fonts/RobotoSlab-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto Slab';
	src: url('/fonts/RobotoSlab-Light.eot');
	src: local('Roboto Slab Light'), local('RobotoSlab-Light'),
		url('/fonts/RobotoSlab-Light.eot?#iefix') format('embedded-opentype'),
		url('/fonts/RobotoSlab-Light.woff') format('woff'),
		url('/fonts/RobotoSlab-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto Slab';
	src: url('/fonts/RobotoSlab-Bold.eot');
	src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'),
		url('/fonts/RobotoSlab-Bold.eot?#iefix') format('embedded-opentype'),
		url('/fonts/RobotoSlab-Bold.woff') format('woff'),
		url('/fonts/RobotoSlab-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto Slab';
	src: url('/fonts/RobotoSlab-Regular.eot');
	src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'),
		url('/fonts/RobotoSlab-Regular.eot?#iefix') format('embedded-opentype'),
		url('/fonts/RobotoSlab-Regular.woff') format('woff'),
		url('/fonts/RobotoSlab-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-MediumItalic.eot');
    src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'),
        url('/fonts/Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Roboto-MediumItalic.woff') format('woff'),
        url('/fonts/Roboto-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Italic.eot');
    src: local('Roboto Italic'), local('Roboto-Italic'),
        url('/fonts/Roboto-Italic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Roboto-Italic.woff') format('woff'),
        url('/fonts/Roboto-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Bold.eot');
    src: local('Roboto Bold'), local('Roboto-Bold'),
        url('/fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Roboto-Bold.woff') format('woff'),
        url('/fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Regular.eot');
    src: local('Roboto'), local('Roboto-Regular'),
        url('/fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Roboto-Regular.woff') format('woff'),
        url('/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Medium.eot');
    src: local('Roboto Medium'), local('Roboto-Medium'),
        url('/fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Roboto-Medium.woff') format('woff'),
        url('/fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-BoldItalic.eot');
    src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'),
        url('/fonts/Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Roboto-BoldItalic.woff') format('woff'),
        url('/fonts/Roboto-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-ThinItalic.eot');
    src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'),
        url('/fonts/Roboto-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Roboto-ThinItalic.woff') format('woff'),
        url('/fonts/Roboto-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Black.eot');
    src: local('Roboto Black'), local('Roboto-Black'),
        url('/fonts/Roboto-Black.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Roboto-Black.woff') format('woff'),
        url('/fonts/Roboto-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Light.eot');
    src: local('Roboto Light'), local('Roboto-Light'),
        url('/fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Roboto-Light.woff') format('woff'),
        url('/fonts/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-LightItalic.eot');
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
        url('/fonts/Roboto-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Roboto-LightItalic.woff') format('woff'),
        url('/fonts/Roboto-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-BlackItalic.eot');
    src: local('Roboto Black Italic'), local('Roboto-BlackItalic'),
        url('/fonts/Roboto-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Roboto-BlackItalic.woff') format('woff'),
        url('/fonts/Roboto-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Thin.eot');
    src: local('Roboto Thin'), local('Roboto-Thin'),
        url('/fonts/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Roboto-Thin.woff') format('woff'),
        url('/fonts/Roboto-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

html {
    height: 100%;
}

body {
	  height: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      background-color: #FFF;
      font-family: 'Roboto';
      }
ol, ul {
	    list-style: none;
}
* {
	margin: 0;
	padding: 0;
	outline: none;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    box-sizing: border-box;
    
    font-family: 'Roboto';
    font-weight: 300;
}

a, a:hover {
	text-decoration: none;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
	clear: both;
}

.left {
	float: left;
}
.right{
	float: right;
}

.topLine{
    display: flex;
    height: 30px;
    width: 100%;
    background-color: #0d1c6b;
    margin-bottom: 16px;
}

.header{
    /*position: absolute;*/
    display: flex;
    overflow: hidden;
    width: 100%;
    padding: 0px;
}

.wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    -webkit-user-select: none;
    width:960px;
    height: 1000px;
    margin: 0 auto;
    animation-name: drawPage;
    animation-duration: 3s;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 940px;
    margin: 0 auto;
}

.logo{
    width: 316px;
    flex:1;
}

.container_left_side{
    flex: 1;
}

.container_left_side_input{
    margin-top: 18%;
}

.container_left_side_input_input{
    width: 254px;
    height: 40px;
    background-color: transparent;
    background-image: url('/img/container_input_icon.png');
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 224px;
    border: 1px solid #e5e4e2;
}

.container_left_side_input_input:focus{
    border: 1px solid #3f3d3d;
}




.container_right_side{
    flex: 1;
    
}

.container_right_side_bar{
    width: 254px;
    height: 40px;
    border: 1px solid#e5e4e2;
    float: right;
    margin-top: 18%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container_right_side_bar_text{
    margin-left: 10px;
    margin-top: 12px;
}

.container_right_side_bar_font{
    font-size: 14px;
    color: black;
}

.container_right_side_bar_icon{
    margin-top: 8px;
}

.container_right_side_bar_rdy{
    visibility: hidden;
    position: absolute;
    width: 254px;
    height: 40px;
    border: 1px solid #32ab4e;
    background-color: #32ab4e;
    margin-top: 56px;
    margin-left: 58px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 999;
}

.container_right_side_bar_text_rdy{
    margin-left: 10px;
    margin-top: 12px;
}

.container_right_side_bar_font_rdy{
    font-size: 14px;
    color: white;
}

ul{
    width: 940px;
    margin: 0 auto;
}

.m{
    color: #555353;
    font-size: 13px;
}

.butLink{
    color: white;
}

.nav li{
    float: left;
    padding: 15px 24px;
    background-color: #f5f5f5;
}

.nav li:hover{
    cursor: pointer;
    background-color: #e4e4e4;
}

.divUl{
    
    width: 940px;
    height: 40px;
    margin: 10px auto;
    
}

.nav{
    width: 930px;
    margin-left: auto;
}

.main{
    /*overflow: hidden;*/
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;


    width: 940px;
    height: 590px;
    margin: 0px auto;
    background-color:rgb(243, 243, 243);
    white-space:nowrap
}

.specials{
    display: flex;
    flex-direction: column;
    width: 960px;
    margin: 30px auto;
    
}
.review{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    width:960px;
}

.sets{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    width:960px;
}

.journal{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    width:960px;
}

.s:hover{
    filter: invert(0.1);
}

.sectionMTop1{
    overflow: hidden;
    position:relative;
    width:460px;
    height:320px;
    background-color:black ;
    background-image: url("/img/sec1.png");
    background-size: 460px 320px;
    /*display: inline-block;*/
    padding-top:125px;  
}
.sectionMTop2{
    overflow: hidden;
    position:relative;
    width:460px;
    height:320px;
    background-color:black ;
    background-image: url("/img/sec2.png");
    background-size: 460px 320px;
    /*float:right;*/
    padding-top:84px;
    
}

.sectionMBot1{
    width:640px;
    height:250px;
    margin-top:20px;
    background-color:black ;
    background-image: url("/img/sec3.png");
    background-size: 640px 250px;
    padding-top:69px;
    /*float:left;*/
}

.sectionMBot2{
    width:280px;
    height:250px;
    margin-top:20px;
    background-color:black ;
    background-image: url("/img/sec4.png");
    background-size: 280px 250px;
    padding-top: 207px;
    padding-left: 22px;
    /*float:right;*/
    
}

.content{
    overflow: hidden;
    position: relative;
    text-align: center;
    width:400px;
    height: 210px;
    margin: 0 auto;
    /*background-color:rgb(209, 209, 209);*/
    padding-top:40px;
}


.largeFont{
    font-weight: bold;
    position: relative;
    font-size: 34px;
    color:white;
    
}
.smallFont{
    position: relative;
    font-size: 12px;
    color:white;
}

.spiceFont{
    font-weight: 400;
    font-size:24px;
    color:white; 
    
}

.spice_text{
    flex-basis: content;
}

.smallText{
    margin-top:10px;
}

.buttonWatch{
    text-align: center;
    width:138px;
    height:30px;
    border: 1px solid white;
    color:white;
    margin: 14px auto;
    padding-top:4px;
}

.buttonWatch:hover{
    border: 2px solid white;
    padding-top:3px;
}

.buttonWatchFont{
    font-size:14px;
    color:white;
}

.spiceText{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 0px;
    margin-right: 20px;
}

.spiceText:hover{
    
}


@keyframes drawPage {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }

.title_specials{
    width: 940px;
    margin: 0 auto;
    height: 78px;
    background-image: url("/img/title_specials.png");
    background-size: 940px 78px;
}

/*940x320*/

.body_specials{
    margin-top:25px;
    overflow: hidden;
    width: 960px;
    
    

    display: flex;
    justify-content: space-around;
    flex-direction: row;
    
}

.special_item{
    margin-top: 20px;
    text-align: center;
    padding-bottom: 30px;
    /*width: 220px;
    height: 300px;*/
    border: 1px solid #e5e4e2;
}

.special_item:hover{
    
    /*margin-left: -10px;*/
    background-color:#e5e4e2;
}

.special_item:hover img{
    filter: brightness(70%);
    z-index: 0;
}

.special_item:hover .more{
    visibility: visible;
}

.special_b_text{
    margin-top: 20px;
}

.special_b_text_font{
    font-weight: bold;
    color: #3f3d3d;
}

.special_m_text{
    margin-top: 8px;
}

.special_m_text_font{
    font-weight: 400;
    color: #3f3d3d;
}

.more{
    z-index: 999;
    position: absolute;
    margin-top: 90px;
    margin-left: 30px;
    visibility: hidden;
}

.more_text_font{
    font-family: 'Roboto Slab';
    font-size:24px;
    font-weight: bold;
    color: white;
}

.review_title{
    display: flex;
    justify-content: center;
    background-color: #eebd28;
    width: 940px;
    height: 80px;
    margin-left: 10px;
}

.review_title_text{
    flex-basis: content;
    padding-top: 15px;
}

.review_title_text_font{
    font-size: 36px;
    font-weight: bold;
    color: #3f3d3d;
}

.review_body{
    padding-left: 10px;
    padding-top: 25px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    
}

.review_item{
    
    margin-right: 10px;
    padding-bottom: 30px;
}

.review_item:hover{
    background-color: #e5e4e2;
}

.review_item:hover img{
    opacity: 0.9;
}

.review_text{
    
    text-align: center;
    width: 220px;
    margin: 34px auto;
}

.review_text_b_font{
    font-family: 'Roboto Slab';
    font-size: 26px;
    color: #3f3d3d;
    font-weight: bold;
}

.review_text_m_font{
    color: #7f7f7f;
    font-weight: 400;
}

.sets_title{
    display: flex;
    justify-content: center;
    background-color: #2898ee;
    width: 940px;
    height: 80px;
    margin-left: 10px;
}

.sets_title_text{
    flex-basis: content;
    padding-top: 15px;
}

.sets_title_text_font{
    font-size: 36px;
    font-weight: bold;
    color: white;
}

.sets_body{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width:960px;
    padding-top:7px;
    /*padding-left: 10px;*/
}

.sets_s_top1{
    display: flex;
    width: 460px;
    height: 220px;
    
    margin-right: 10px;
    margin-left:10px;
    margin-top:18px;
}

.sets_s_top1:hover img{
    opacity: 0.9;
}

.sets_s_bot1{
    display: flex;
    width: 520px;
    height: 185px;
    
    margin-right: 10px;
    margin-left:10px;
    margin-top:18px;
}

.sets_s_bot2{
    display: flex;
    width: 400px;
    height: 185px;
    
    margin-right: 10px;
    margin-left:10px;
    margin-top:18px;
}

.sets_s_bot1:hover img{
    opacity: 0.9;
}

.sets_s_bot2:hover img{
    opacity: 0.9;
}

.sets_s_top2{
    display: flex;
    width: 220px;
    height: 220px;
    
    margin-right: 10px;
    margin-left:10px;
    margin-top:18px;
}

.sets_s_top2:hover img{
    opacity: 0.9;
}

.sets_s_text{
    z-index: 999;
    position: absolute;
    width: 425px;
    margin-top: 150px;
    margin-left: 20px;
}

.sets_s_bot1_text{
    z-index: 999;
    position: absolute;
    width: 425px;
    margin-top: 118px;
    margin-left: 20px;
}

.sets_s_bot2_text{
    z-index: 999;
    position: absolute;
    width: 300px;
    margin-top: 118px;
    margin-left: 20px;
}

.sets_s2_text{
    z-index: 999;
    position: absolute;
    width: 150px;
    margin-top: 96px;
    margin-left: 20px;
}

.sets_text_b_font{
    font-family: 'Roboto Slab';
    font-weight: bold;
    font-size: 26px;
    color: white;
}

.sets_text_m_font{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    color: white;
}

.journal_title{
    display: flex;
    justify-content: center;
    background-color: #28ee93;
    width: 940px;
    height: 80px;
    margin-left: 10px;
}

.journal_body{
    padding-left: 10px;
    padding-top: 25px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.journal_item{
    margin-right: 10px;
    padding-bottom: 30px;
    width: 294px;
}

.journal_item:hover{
    background-color: #e5e4e2;
}

.journal_item:hover img{
    opacity: 0.9;
}

.tag:hover{
    filter: brightness(120%);
}

.journal_text{
    text-align: left;
    width: 265px;
    margin: 34px auto;
    
}

.tags_container{
    position: absolute;
    margin-left: 20px;
    margin-top: 176px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    width: 260px;
    height: 20px;
}

.tag{
    margin-right: 5px;
    background-color: #ed2d30;
    border-radius: 5px 5px 5px 5px;
    height: 20px;
    padding-top:5px;
    z-index: 999;
}

.tag_text_font{
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    font-size: 8px;
    color:white;
}

.journal_text_b_font{
    font-family: 'Roboto Slab';
    font-weight: bold;
    font-size: 16px;
    color: #3f3d3d;
}

.journal_text_m_font{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    color: #777777;
}

.journal_author_box{
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-basis: content;
    width: 200px;
    height: 20px;
    padding-bottom: 1px;
    margin-top: 10px;
    margin-left: 0px;
    
}

.journal_author_name{
  margin-left: 2px;
  margin-right: 5px;
}

.journal_author_name_font{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 10px;
    color: #a6a19f;
}

.footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    width: 960px;
    
    
}

.footer_subscribe{
    -webkit-user-select: none;
    display: flex;
    width: 940px;
    height: 40px;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 60px;
    align-items: flex-start;
    flex-direction: row;
}

.footer_information{
    margin-left: 10px;
    width: 250px; 
    padding-bottom: 100px;
}

.footer_nav>li{
    margin-left: 0px;
    width: 160px;
}

.f{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    color: #3f3d3d;
}

.f:hover{
    opacity: 0.8;
}

.footer_nav_title{
    margin-left: 0px;
    font-family: 'Roboto Slab';
    font-weight: bold;
    font-size: 12px;
    color: #3f3d3d;
}

.copyright{
    display: flex;
    flex-direction: row;
    width: 940px;
    height: 20px;
    margin-bottom: 20px;
    margin-left:10px;
}

.copyright_text{
    width: 250px;
}

.copyright_text_font{
    font-size: 12px;
    color: #3f3d3d;
}

.copyright_text_font>a{
    color: #3f3d3d;
    margin-left: 10px;
}

.footer_social_text{
    margin-top:9.5px;
    margin-left: 0px;
}

.footer_social_text:hover{
    opacity: 0.3;
}

.footer_social_text_font{
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 16px;
    color: #414141;
}

.footer_social_img{
    margin-left: 20px;
    margin-top: 5px;
    opacity: 0.5;
}

.footer_social_img>img{
    margin-right: 6px;
}

.footer_img_img:hover{
    opacity: 0.3;
}

.footer_input{
    display: flex;
    flex-direction: row;
    margin-left: 35px;
}

.footer_input_form>input{
    width: 270px;
    height: 40px;
    font-size: 14px;
    padding: 10px;
}

.footer_input_button>input{
    width: 220px;
    height: 40px;
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 16px;
    color: #414141;
    background-color: #28ee93;
}

.footer_input_button:hover{
    opacity: 0.9;
}

.top_line_info{
    width: 940px;
    margin: 0 auto;
    
}

.top_line_info_left{
    height: 25px;
    margin-top: 5px;
    margin-left: 10px;
    float: left;
    display: flex;
    flex-direction: row;
    flex-basis: content;
}
.top_line_info_left_img{
    margin-top: 2px;
    margin-right: 10px;
}

.top_line_info_left_text{
    
}

.top_line_info_left_text_font{
    font-size: 17px;
    color: white;
}

.top_line_info_right{
    
    height: 25px;
    margin-top: 5px;
    
    float: right;
    display: flex;
    flex-direction: row;
    flex-basis: content;
}

.top_line_info_right_img{
    margin-top: 2px;
    margin-right: 10px;
    
}






