@media only screen and (max-width: 328px) {
  .topLine {
    width: 100%;
  }
  .top_line_info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .top_line_info_left_text {
    display: none;
  }
  .top_line_info_right_text {
    display: none;
  }
  body {
    width: 100%;
    overflow: hidden;
  }
  .wrapper {
    width: 100%;
    overflow: hidden;
  }
  .header {
    display: flex;
    flex-direction: column;
    overflow: visible;
    width: 100%;
    height: fit-content;
  }
  .divUl {
    display: none;
  }
  .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 20px;
    width: 100%;
  }
  .container_right_side {
    margin-top: 5px;
    width: 254px;
    height: 40px;
    order: 3;
    margin: 0 auto;
  }
  .container_right_side_bar {
    margin: 0;
    float: none;
  }
  .container_right_side_bar_rdy {
    margin-top: 5px;
    margin-left: 0;
  }
  .container_right_side_bar_text_rdy {
    margin-top: 10px;
  }
  .logo {
    width: 316px;
    flex: 1;
    margin: 0 auto;
  }
  .container_left_side {
    width: 254px;
    height: 40px;
    order: 2;
    margin: 0 auto;
  }
  .container_left_side_input {
    margin: 0;
    float: none;
  }
  .main {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: max-content;
  }
  .sectionMTop1 {
    width: 100%;
  }
  .content {
    width: 100%;
    height: 100%;
    padding-top: 0;
  }
  .sectionMTop1 {
    width: 320px;
    height: 120px;
    margin: 0 auto;
    padding-top: 5px;
  }
  .sectionMTop2 {
    width: 320px;
    height: 120px;
    margin: 0 auto;
    padding-top: 5px;
  }
  .sectionMBot1 {
    width: 320px;
    height: 120px;
    margin: 0 auto;
    padding-top: 5px;
  }
  .sectionMBot2 {
    width: 320px;
    height: 120px;
    margin: 0 auto;
    padding-top: 5px;
  }
}
