html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
@font-face {
  font-family: 'Roboto Slab';
  src: url('/fonts/RobotoSlab-Thin.eot');
  src: local('Roboto Slab Thin'), local('RobotoSlab-Thin'), url('/fonts/RobotoSlab-Thin.eot?#iefix') format('embedded-opentype'), url('/fonts/RobotoSlab-Thin.woff') format('woff'), url('/fonts/RobotoSlab-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Slab';
  src: url('/fonts/RobotoSlab-Light.eot');
  src: local('Roboto Slab Light'), local('RobotoSlab-Light'), url('/fonts/RobotoSlab-Light.eot?#iefix') format('embedded-opentype'), url('/fonts/RobotoSlab-Light.woff') format('woff'), url('/fonts/RobotoSlab-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Slab';
  src: url('/fonts/RobotoSlab-Bold.eot');
  src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url('/fonts/RobotoSlab-Bold.eot?#iefix') format('embedded-opentype'), url('/fonts/RobotoSlab-Bold.woff') format('woff'), url('/fonts/RobotoSlab-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Slab';
  src: url('/fonts/RobotoSlab-Regular.eot');
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url('/fonts/RobotoSlab-Regular.eot?#iefix') format('embedded-opentype'), url('/fonts/RobotoSlab-Regular.woff') format('woff'), url('/fonts/RobotoSlab-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-MediumItalic.eot');
  src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url('/fonts/Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'), url('/fonts/Roboto-MediumItalic.woff') format('woff'), url('/fonts/Roboto-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Italic.eot');
  src: local('Roboto Italic'), local('Roboto-Italic'), url('/fonts/Roboto-Italic.eot?#iefix') format('embedded-opentype'), url('/fonts/Roboto-Italic.woff') format('woff'), url('/fonts/Roboto-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Bold.eot');
  src: local('Roboto Bold'), local('Roboto-Bold'), url('/fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'), url('/fonts/Roboto-Bold.woff') format('woff'), url('/fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Regular.eot');
  src: local('Roboto'), local('Roboto-Regular'), url('/fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'), url('/fonts/Roboto-Regular.woff') format('woff'), url('/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Medium.eot');
  src: local('Roboto Medium'), local('Roboto-Medium'), url('/fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'), url('/fonts/Roboto-Medium.woff') format('woff'), url('/fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-BoldItalic.eot');
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url('/fonts/Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'), url('/fonts/Roboto-BoldItalic.woff') format('woff'), url('/fonts/Roboto-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-ThinItalic.eot');
  src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'), url('/fonts/Roboto-ThinItalic.eot?#iefix') format('embedded-opentype'), url('/fonts/Roboto-ThinItalic.woff') format('woff'), url('/fonts/Roboto-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Black.eot');
  src: local('Roboto Black'), local('Roboto-Black'), url('/fonts/Roboto-Black.eot?#iefix') format('embedded-opentype'), url('/fonts/Roboto-Black.woff') format('woff'), url('/fonts/Roboto-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Light.eot');
  src: local('Roboto Light'), local('Roboto-Light'), url('/fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'), url('/fonts/Roboto-Light.woff') format('woff'), url('/fonts/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-LightItalic.eot');
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url('/fonts/Roboto-LightItalic.eot?#iefix') format('embedded-opentype'), url('/fonts/Roboto-LightItalic.woff') format('woff'), url('/fonts/Roboto-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-BlackItalic.eot');
  src: local('Roboto Black Italic'), local('Roboto-BlackItalic'), url('/fonts/Roboto-BlackItalic.eot?#iefix') format('embedded-opentype'), url('/fonts/Roboto-BlackItalic.woff') format('woff'), url('/fonts/Roboto-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Thin.eot');
  src: local('Roboto Thin'), local('Roboto-Thin'), url('/fonts/Roboto-Thin.eot?#iefix') format('embedded-opentype'), url('/fonts/Roboto-Thin.woff') format('woff'), url('/fonts/Roboto-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
body {
  height: 100%;
  background-color: #FFF;
  font-family: 'Roboto';
}
ol,
ul {
  list-style: none;
}
* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Roboto';
  font-weight: 300;
}
a,
a:hover {
  text-decoration: none;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.left {
  float: left;
}
.right {
  float: right;
}
.topLine {
  display: flex;
  height: 30px;
  width: 100%;
  background-color: #0d1c6b;
  margin-bottom: 16px;
}
.header {
  /*position: absolute;*/
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  padding: 0px;
  height: 220px;
}
.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  -webkit-user-select: none;
  width: 960px;
  margin: 0 auto;
  animation-name: drawPage;
  animation-duration: 3s;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 940px;
  margin: 0 auto;
}
.logo {
  width: 316px;
  flex: 1;
}
.container_left_side {
  flex: 1;
}
.container_left_side_input {
  margin-top: 18%;
}
.container_left_side_input_input {
  width: 254px;
  height: 40px;
  padding-left: 16px;
  background-color: transparent;
  background-image: url('/img/container_input_icon.png');
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: 224px;
  border: 1px solid #e5e4e2;
}
.container_left_side_input_input:focus {
  border: 1px solid #3f3d3d;
}
.container_right_side {
  flex: 1;
}
.container_right_side_bar {
  width: 254px;
  height: 40px;
  border: 1px solid #e5e4e2;
  float: right;
  margin-top: 18%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.container_right_side_bar_text {
  margin-left: 10px;
  margin-top: 12px;
}
.container_right_side_bar_font {
  font-size: 14px;
  color: black;
}
.container_right_side_bar_icon {
  margin-top: 8px;
}
.container_menu {
  position: relative;
  margin-top: 5px;
  width: 254px;
  max-height: max-content;
  background-color: #0d1c6b;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  display: none;
}
.container_menu .menu {
  margin-bottom: 10px;
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.container_menu .menu ul li {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  width: 220px;
  border: 1px solid white;
  margin-top: 5px;
  background-color: #0d1c6b;
}
.container_menu .menu ul li a {
  color: white;
}
.container_menu .m_icon {
  width: max-content;
  height: 16px;
  margin-top: 12px;
  margin-left: 10px;
  margin-bottom: 12px;
}
.container_menu .m_icon img {
  filter: invert(1);
}
.container_menu .text {
  width: max-content;
  height: 20px;
  margin-top: 10px;
}
.container_menu .text span {
  font-size: 14px;
  color: white;
}
.active {
  visibility: visible;
}
.inactive {
  visibility: hidden;
  height: 0px;
}
.basket {
  display: flex;
  flex-direction: column;
  width: 410px;
  border: 1px solid #a6a19f;
  background-color: white;
  position: absolute;
  margin-top: 104px;
  margin-left: -108px;
  z-index: 999;
  box-shadow: 4px 4px 8px -3px #252525;
}
.basket .footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 40px;
  background-color: white;
}
.basket .footer .total {
  background-color: white;
  color: black;
  font-weight: bold;
}
.basket .footer .total:hover {
  background-color: white;
}
.basket .footer .goto {
  background-color: #0d1c6b;
}
.basket .footer .mkorder {
  background-color: #32ab4e;
}
.basket .footer div {
  background-color: black;
  width: 30%;
  margin: 5px auto;
  margin-bottom: 5px;
  text-align: center;
  color: white;
  padding-top: 7px;
}
.basket .footer div:hover {
  opacity: 0.9;
}
.basket .item_bigbox {
  display: flex;
  flex-direction: column;
  max-height: 350px;
  overflow-y: auto;
  overflow-x: hidden;
}
.basket .item_box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  min-height: 100px;
  width: 390px;
  height: 100px;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px dashed white;
}
.basket .item_image {
  margin-top: 10px;
  margin-left: 10px;
  height: 80px;
  width: 120px;
}
.basket .item_title {
  margin-top: 10px;
  margin-left: 5px;
  height: 80px;
  width: 120px;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
}
.basket .title_font {
  font-size: 14px;
}
.basket .item_actions {
  width: 120px;
  height: 80px;
  margin-top: 10px;
  margin-left: 5px;
}
.basket .item_actions div {
  text-align: center;
  margin-top: 8px;
  margin-bottom: 5px;
}
.basket .item_actions .count {
  margin-left: 5px;
  margin-right: 5px;
}
.basket .item_box:hover {
  border: 1px dashed #a6a19f;
}
.basket .item_box:hover img {
  opacity: 0.9;
}
.basket .plus {
  background-color: black;
  color: white;
  padding-left: 6px;
  padding-right: 6px;
}
.basket .plus:hover {
  background-color: #222222;
}
.basket .minus:hover {
  background-color: #222222;
}
.basket .minus {
  background-color: black;
  color: white;
  padding-left: 8px;
  padding-right: 8px;
}
.container_right_side_bar_rdy {
  /*position: absolute;*/
  width: 254px;
  height: 40px;
  border: 1px solid #32ab4e;
  background-color: #32ab4e;
  margin-top: 56px;
  margin-left: 58px;
  z-index: 999;
  float: right;
  margin-top: 18%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.container_right_side_bar_text_rdy {
  margin-left: 10px;
  margin-top: 12px;
}
.container_right_side_bar_font_rdy {
  font-size: 14px;
  color: white;
}
.nav {
  width: 940px;
  margin: 0 auto;
}
.m {
  color: #555353;
  font-size: 13px;
}
.butLink {
  color: white;
}
.nav li {
  float: left;
  padding: 15px 24px;
  background-color: #f5f5f5;
}
.nav li:hover {
  cursor: pointer;
  background-color: #e4e4e4;
}
.divUl {
  width: 940px;
  height: 40px;
  margin: 10px auto;
}
.nav {
  width: 930px;
  margin-left: auto;
}
.main {
  /*overflow: hidden;*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 940px;
  height: 590px;
  margin: 0px auto;
  background-color: #f3f3f3;
  white-space: nowrap;
}
.specials {
  display: flex;
  flex-direction: column;
  width: 960px;
  margin: 30px auto;
}
.review {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  width: 960px;
}
.sets {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  width: 960px;
}
.journal {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  width: 960px;
}
.s:hover {
  filter: invert(0.1);
}
.sectionMTop1 {
  overflow: hidden;
  position: relative;
  width: 460px;
  height: 320px;
  background-color: black ;
  background-image: url("/img/sec1.png");
  background-size: 460px 320px;
  /*display: inline-block;*/
  padding-top: 125px;
}
.sectionMTop2 {
  overflow: hidden;
  position: relative;
  width: 460px;
  height: 320px;
  background-color: black ;
  background-image: url("/img/sec2.png");
  background-size: 460px 320px;
  /*float:right;*/
  padding-top: 84px;
}
.sectionMBot1 {
  width: 640px;
  height: 250px;
  margin-top: 20px;
  background-color: black ;
  background-image: url("/img/sec3.png");
  background-size: 640px 250px;
  padding-top: 69px;
  /*float:left;*/
}
.sectionMBot2 {
  width: 280px;
  height: 250px;
  margin-top: 20px;
  background-color: black ;
  background-image: url("/img/sec4.png");
  background-size: 280px 250px;
  padding-top: 207px;
  padding-left: 22px;
  /*float:right;*/
}
.content {
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 400px;
  height: 210px;
  margin: 0 auto;
  /*background-color:rgb(209, 209, 209);*/
  padding-top: 40px;
}
.largeFont {
  font-weight: bold;
  position: relative;
  font-size: 34px;
  color: white;
}
.smallFont {
  position: relative;
  font-size: 12px;
  color: white;
}
.spiceFont {
  font-weight: 400;
  font-size: 24px;
  color: white;
}
.spice_text {
  flex-basis: content;
}
.smallText {
  margin-top: 10px;
}
.buttonWatch {
  text-align: center;
  width: 138px;
  height: 30px;
  border: 1px solid white;
  color: white;
  margin: 14px auto;
  padding-top: 4px;
}
.buttonWatch:hover {
  border: 2px solid white;
  padding-top: 3px;
}
.buttonWatchFont {
  font-size: 14px;
  color: white;
}
.spiceText {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 0px;
  margin-right: 20px;
}
@keyframes drawPage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.title_specials {
  width: 940px;
  margin: 0 auto;
  height: 78px;
  background-image: url("/img/title_specials.png");
  background-size: 940px 78px;
}
/*940x320*/
.body_specials {
  margin-top: 25px;
  overflow: hidden;
  width: 960px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.special_item {
  margin-top: 20px;
  text-align: center;
  padding-bottom: 30px;
  /*width: 220px;
    height: 300px;*/
  border: 1px solid #e5e4e2;
}
.special_item:hover {
  /*margin-left: -10px;*/
  background-color: #e5e4e2;
}
.special_item:hover img {
  filter: brightness(70%);
  z-index: 0;
}
.special_item:hover .more {
  visibility: visible;
}
.special_b_text {
  margin-top: 20px;
}
.special_b_text_font {
  font-weight: bold;
  color: #3f3d3d;
}
.special_m_text {
  margin-top: 8px;
}
.special_m_text_font {
  font-weight: 400;
  color: #3f3d3d;
}
.more {
  z-index: 999;
  position: absolute;
  margin-top: 90px;
  margin-left: 30px;
  visibility: hidden;
}
.more_text_font {
  font-family: 'Roboto Slab';
  font-size: 24px;
  font-weight: bold;
  color: white;
}
.review_title {
  display: flex;
  justify-content: center;
  background-color: #eebd28;
  width: 940px;
  height: 80px;
  margin-left: 10px;
}
.review_title_text {
  flex-basis: content;
  padding-top: 15px;
}
.review_title_text_font {
  font-size: 36px;
  font-weight: bold;
  color: #3f3d3d;
}
.review_body {
  padding-left: 10px;
  padding-top: 25px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.review_item {
  margin-right: 10px;
  padding-bottom: 30px;
}
.review_item:hover {
  background-color: #e5e4e2;
}
.review_item:hover img {
  opacity: 0.8;
}
.review_text {
  text-align: center;
  width: 220px;
  margin: 34px auto;
}
.review_text_b_font {
  font-family: 'Roboto Slab';
  font-size: 26px;
  color: #3f3d3d;
  font-weight: bold;
}
.review_text_m_font {
  color: #7f7f7f;
  font-weight: 400;
}
.sets_title {
  display: flex;
  justify-content: center;
  background-color: #2898ee;
  width: 940px;
  height: 80px;
  margin-left: 10px;
}
.sets_title_text {
  flex-basis: content;
  padding-top: 15px;
}
.sets_title_text_font {
  font-size: 36px;
  font-weight: bold;
  color: white;
}
.sets_body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 960px;
  padding-top: 7px;
  /*padding-left: 10px;*/
}
.sets_s_top1 {
  display: flex;
  width: 460px;
  height: 220px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 18px;
}
.sets_s_top1:hover img {
  opacity: 0.8;
}
.sets_s_bot1 {
  display: flex;
  width: 520px;
  height: 185px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 18px;
}
.sets_s_bot2 {
  display: flex;
  width: 400px;
  height: 185px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 18px;
}
.sets_s_bot1:hover img {
  opacity: 0.8;
}
.sets_s_bot2:hover img {
  opacity: 0.8;
}
.sets_s_top2 {
  display: flex;
  width: 220px;
  height: 220px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 18px;
}
.sets_s_top2:hover img {
  opacity: 0.8;
}
.sets_s_text {
  z-index: 999;
  position: absolute;
  width: 425px;
  margin-top: 150px;
  margin-left: 20px;
}
.sets_s_bot1_text {
  z-index: 999;
  position: absolute;
  width: 425px;
  margin-top: 118px;
  margin-left: 20px;
}
.sets_s_bot2_text {
  z-index: 999;
  position: absolute;
  width: 300px;
  margin-top: 118px;
  margin-left: 20px;
}
.sets_s2_text {
  z-index: 999;
  position: absolute;
  width: 150px;
  margin-top: 96px;
  margin-left: 20px;
}
.sets_text_b_font {
  font-family: 'Roboto Slab';
  font-weight: bold;
  font-size: 26px;
  color: white;
}
.sets_text_m_font {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  color: white;
}
.journal_title {
  display: flex;
  justify-content: center;
  background-color: #28ee93;
  width: 940px;
  height: 80px;
  margin-left: 10px;
}
.journal_body {
  padding-left: 10px;
  padding-top: 25px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.journal_item {
  margin-right: 10px;
  padding-bottom: 30px;
  width: 294px;
}
.journal_item:hover {
  background-color: #e5e4e2;
}
.journal_item:hover img {
  opacity: 0.8;
}
.tag:hover {
  filter: brightness(120%);
}
.journal_text {
  text-align: left;
  width: 265px;
  margin: 34px auto;
}
.tags_container {
  position: absolute;
  margin-left: 20px;
  margin-top: 176px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  width: 260px;
  height: 20px;
}
.tag {
  margin-right: 5px;
  background-color: #ed2d30;
  border-radius: 5px 5px 5px 5px;
  height: 20px;
  padding-top: 5px;
  z-index: 999;
}
.tag_text_font {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  font-size: 8px;
  color: white;
}
.journal_text_b_font {
  font-family: 'Roboto Slab';
  font-weight: bold;
  font-size: 16px;
  color: #3f3d3d;
}
.journal_text_m_font {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  color: #777777;
}
.journal_author_box {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-basis: content;
  width: 200px;
  height: 20px;
  padding-bottom: 1px;
  margin-top: 10px;
  margin-left: 0px;
}
.journal_author_name {
  margin-left: 2px;
  margin-right: 5px;
}
.journal_author_name_font {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 10px;
  color: #a6a19f;
}
.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 960px;
}
.footer_subscribe {
  -webkit-user-select: none;
  display: flex;
  width: 940px;
  height: 40px;
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 60px;
  align-items: flex-start;
  flex-direction: row;
}
.footer_information {
  margin-left: 10px;
  width: 250px;
  padding-bottom: 100px;
}
.footer_nav > li {
  margin-left: 0px;
  width: 160px;
}
.f {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  color: #3f3d3d;
}
.f:hover {
  opacity: 0.8;
}
.footer_nav_title {
  margin-left: 0px;
  font-family: 'Roboto Slab';
  font-weight: bold;
  font-size: 12px;
  color: #3f3d3d;
}
.copyright {
  display: flex;
  flex-direction: row;
  width: 940px;
  height: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
}
.copyright_text {
  width: 250px;
}
.copyright_text_font {
  font-size: 12px;
  color: #3f3d3d;
}
.copyright_text_font > a {
  color: #3f3d3d;
  margin-left: 10px;
}
.footer_social_text {
  margin-top: 9.5px;
  margin-left: 0px;
}
.footer_social_text:hover {
  opacity: 0.3;
}
.footer_social_text_font {
  font-family: 'Roboto Slab';
  font-weight: 400;
  font-size: 16px;
  color: #414141;
}
.footer_social_img {
  margin-left: 20px;
  margin-top: 5px;
  opacity: 0.5;
}
.footer_social_img > img {
  margin-right: 6px;
}
.footer_img_img:hover {
  opacity: 0.3;
}
.footer_input {
  display: flex;
  flex-direction: row;
  margin-left: 35px;
}
.footer_input_form > input {
  width: 270px;
  height: 40px;
  font-size: 14px;
  padding: 10px;
}
.footer_input_button > input {
  width: 220px;
  height: 40px;
  font-family: 'Roboto Slab';
  font-weight: 400;
  font-size: 16px;
  color: white;
  background-color: #0d1c6b;
}
.footer_input_button:hover {
  opacity: 0.9;
}
.top_line_info {
  width: 940px;
  margin: 0 auto;
}
.top_line_info_left {
  height: 25px;
  margin-top: 5px;
  margin-left: 10px;
  float: left;
  display: flex;
  flex-direction: row;
  flex-basis: content;
}
.top_line_info_left_img {
  margin-top: 2px;
  margin-right: 10px;
}
.top_line_info_left_text_font {
  font-size: 17px;
  color: white;
}
.top_line_info_right {
  height: 25px;
  margin-top: 5px;
  float: right;
  display: flex;
  flex-direction: row;
  flex-basis: content;
}
.top_line_info_right_img {
  margin-top: 2px;
  margin-right: 10px;
}
/************************************************************************************/
/******************************** СТИЛИ ДЛЯ КАТАЛОГА ********************************/
/************************************************************************************/
.c_wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  animation-name: drawPage;
  animation-duration: 3s;
}
.c_container {
  -webkit-user-select: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 940px;
  margin: 0 auto;
}
.c_div_ul {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  background-color: #f5f5f5;
}
.c_main {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 40px;
  margin-top: 20px;
}
.c_main_menu {
  margin-left: 20px;
  flex: 1.4;
}
.c_main_shop {
  margin-left: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: white;
  flex: 5;
  width: 100%;
}
.c_main_shop_header {
  width: 100%;
  padding-right: 20px;
}
.c_main_shop_header_text {
  margin-right: 20px;
  width: 100%;
  padding-bottom: 40px;
  background-color: white;
}
.c_main_shop_header_text_b_font {
  font-family: 'Roboto Slab';
  font-weight: 500;
  font-size: 24px;
}
.c_main_shop_header_text_m_font {
  font-size: 14px;
}
.c_main_shop_header_sort {
  -webkit-user-select: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;
  justify-content: space-between;
  background-color: #f2f2f2;
  width: 100%;
  height: 28px;
}
.c_main_header_sort_chosenum {
  height: 28px;
  padding-top: 5px;
  margin-left: 10px;
}
.c_main_header_sort_chosenum_font {
  font-size: 14px;
}
.c_main_header_sort_sortby {
  margin-right: 10px;
  margin-top: 5px;
}
.c_main_header_sort_sortby > img {
  margin-bottom: 3px;
}
.c_main_shop_header_filters {
  margin-right: 20px;
  -webkit-user-select: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  margin-top: 20px;
  width: 100%;
  height: 28px;
  display: none;
}
.c_main_shop_header_filters_text {
  background: none;
  height: 28px;
  padding-top: 6px;
  padding-right: 5px;
}
.c_main_shop_header_filters_text_font {
  font-size: 16px;
}
.c_main_shop_header_filters_block {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 28px;
  background: black;
  margin-right: 5px;
}
.c_main_shop_header_filters_block:hover {
  background-color: white;
}
.c_main_shop_header_filters_block:hover > div > span {
  color: black;
}
.c_main_shop_header_filters_block:hover > div > img {
  filter: invert(1);
}
.c_main_shop_header_filters_block_text {
  margin-top: 5px;
  margin-left: 12px;
  margin-right: 12px;
}
.c_main_shop_header_filters_block_text_font {
  font-size: 14px;
  font-weight: 300;
  color: white;
}
.c_main_shop_header_filters_block_img {
  margin-right: 10px;
  margin-top: 2.5px;
}
.c_main_shop_content {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  background-color: white;
}
.c_main_shop_prod {
  -webkit-user-select: none;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-right: 20px;
  width: 228px;
  height: 320px;
  border: 1px solid #ccc;
  background-color: white;
}
.c_main_shop_prod:hover {
  background-color: #f5f4f2;
}
.c_main_shop_prod:hover > img {
  opacity: 0.9;
}
.c_main_shop_prod_text {
  width: 100%;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.c_main_shop_prod_text > span {
  margin-bottom: 0px;
}
.c_main_shop_prod_b_font {
  font-weight: 500;
  font-size: 16px;
}
.c_main_shop_prod_m_font {
  font-weight: 300;
  font-size: 20px;
  color: #929292;
}
.c_main_shop_prod_oldprice_font {
  text-decoration: line-through;
  font-weight: 300;
  font-size: 16px;
  color: #929292;
  margin-left: 10px;
}
.c_main_shop_footer {
  margin-right: 20px;
  margin-top: 56px;
  width: 100%;
  height: 50px;
  background-color: #f2f2f2;
}
.c_main_shop_footer_leftside {
  margin-top: 15px;
  float: left;
  margin-left: 20px;
}
.c_main_footer_leftside_text_font {
  margin-left: 20px;
  font-size: 14px;
}
.c_main_shop_footer_rightside {
  float: right;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 10px;
  margin-right: 20px;
}
.c_footer_ul {
  margin-top: 0px;
}
.c_footer_ul li {
  float: left;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 6px;
  padding-bottom: 6px;
}
.c_footer_li_active {
  background-color: black;
  color: white;
}
.c_footer_ul_previous {
  margin-top: 5px;
  margin-right: 15px;
}
.c_footer_ul_next {
  margin-top: 5px;
  margin-left: 15px;
}
.c_menu {
  -webkit-user-select: none;
}
.c_menu li {
  font-weight: 400;
  font-family: 'Roboto';
  font-size: 18px;
  cursor: pointer;
  text-transform: uppercase;
}
.c_menu a {
  color: black;
}
.c_menu_empty {
  color: #a8a8a8;
}
.c_menu li > ul > li {
  font-family: 'Roboto';
  text-transform: none;
  font-weight: 400;
  font-size: 15px;
  margin-top: 16px;
  margin-bottom: 16px;
}
.c_menu li > ul > li span {
  color: #585757;
}
.c_menu li > ul > li:hover {
  opacity: 0.8;
}
/******************************************************************************/
.c_footer {
  float: right;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /*width: 940px;*/
  width: 100%;
  margin: 0 auto;
}
.c_footer_subscribebox {
  width: 100%;
  height: 80px;
  border-top: 1px solid #e5e4e2;
  border-bottom: 1px solid #e5e4e2;
  margin-bottom: 20px;
}
.c_footer_subscribe {
  -webkit-user-select: none;
  display: flex;
  width: 940px;
  height: 40px;
  margin-left: 0px;
  align-items: flex-start;
  flex-direction: row;
  margin: 20px auto;
}
.footer_informationbox {
  width: 940px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.c_copyrightbox {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 940px;
  margin: 0 auto;
}
.c_copyright {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
}
/***********************************************************************************/
/*******************************НОВАЯ ШАПКА*****************************************/
/***********************************************************************************/
.n_header {
  -webkit-user-select: none;
  width: 100%;
  height: max-content;
}
.n_header .n_container {
  max-width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  height: 160px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.n_header .n_container .left {
  margin-left: 18px;
  flex: 1;
  height: max-content;
  margin-top: 50px;
}
.n_header .n_container .logo {
  flex: 1;
}
.n_header .n_container .right {
  margin-right: 18px;
  flex: 1;
  height: max-content;
}
.n_header .n_container .right .inactive {
  display: none;
}
.n_header .n_container .right .sideprop {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  width: 254px;
  height: 40px;
  margin-top: 50px;
  margin-left: auto;
  justify-content: center;
}
.n_header .n_container .right .sideprop .text {
  margin-top: 10px;
}
.n_header .n_container .right .sideprop .img {
  margin-top: 8px;
  margin-right: 5px;
}
.n_header .n_container .right .nordy {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  width: 254px;
  height: 40px;
  margin-top: 50px;
  margin-left: auto;
  justify-content: center;
  border: 1px solid black;
  display: none;
}
.n_header .n_container .right .nordy .text {
  margin-top: 10px;
}
.n_header .n_container .right .nordy .img {
  margin-top: 8px;
  margin-right: 5px;
}
.n_header .n_container .right .rdy {
  background-color: #32ab4e;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  width: 254px;
  height: 40px;
  margin-top: 50px;
  margin-left: auto;
  justify-content: center;
}
.n_header .n_container .right .rdy .text {
  margin-top: 10px;
}
.n_header .n_container .right .rdy .img {
  margin-top: 8px;
  margin-right: 5px;
}
.n_header .n_container .right .rdy .text span {
  color: white;
}
.n_header .n_container .n_basket {
  display: flex;
  flex-direction: column;
  width: 410px;
  border: 1px solid #a6a19f;
  background-color: white;
  position: absolute;
  margin-top: 100px;
  margin-left: 520px;
  z-index: 999;
  box-shadow: 4px 4px 8px -3px #252525;
}
.n_header .n_container .n_basket .footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 40px;
  background-color: white;
}
.n_header .n_container .n_basket .footer .total {
  background-color: white;
  color: black;
  font-weight: bold;
}
.n_header .n_container .n_basket .footer .total:hover {
  background-color: white;
}
.n_header .n_container .n_basket .footer .goto {
  background-color: #0d1c6b;
}
.n_header .n_container .n_basket .footer .mkorder {
  background-color: #32ab4e;
}
.n_header .n_container .n_basket .footer div {
  background-color: black;
  width: 30%;
  margin: 5px auto;
  margin-bottom: 5px;
  text-align: center;
  color: white;
  padding-top: 7px;
}
.n_header .n_container .n_basket .footer .footer div:hover {
  opacity: 0.9;
}
.n_header .n_container .n_basket .item_bigbox {
  display: flex;
  flex-direction: column;
  max-height: 350px;
  overflow-y: auto;
  overflow-x: hidden;
}
.n_header .n_container .n_basket .item_box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  min-height: 100px;
  width: 390px;
  height: 100px;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px dashed white;
}
.n_header .n_container .n_basket .item_image {
  margin-top: 10px;
  margin-left: 10px;
  height: 80px;
  width: 120px;
}
.n_header .n_container .n_basket .item_title {
  margin-top: 10px;
  margin-left: 5px;
  height: 80px;
  width: 120px;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
}
.n_header .n_container .n_basket .item_title span {
  font-size: 14px;
}
.n_header .n_container .n_basket .item_actions {
  width: 120px;
  height: 80px;
  margin-top: 10px;
  margin-left: 5px;
}
.n_header .n_container .n_basket .item_actions div {
  text-align: center;
  margin-top: 8px;
  margin-bottom: 5px;
}
.n_header .n_container .n_basket .item_actions .count {
  margin-left: 5px;
  margin-right: 5px;
}
.n_header .n_container .n_basket .item_box:hover {
  border: 1px dashed #a6a19f;
}
.n_header .n_container .n_basket .item_box:hover img {
  opacity: 0.9;
}
.n_header .n_container .n_basket .plus {
  background-color: black;
  color: white;
  padding-left: 6px;
  padding-right: 6px;
}
.n_header .n_container .n_basket .plus:hover {
  background-color: #222222;
}
.n_header .n_container .n_basket .minus:hover {
  background-color: #222222;
}
.n_header .n_container .n_basket .minus {
  background-color: black;
  color: white;
  padding-left: 8px;
  padding-right: 8px;
}
/***********************************************************************************/
/*******************************СТРАНИЦА ТОВАРА*************************************/
/***********************************************************************************/
.c_main_shop {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.c_main_shop .leftside {
  display: flex;
  flex: 1;
  justify-content: flex-start;
}
.c_main_shop .leftside .image {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
  justify-content: flex-start;
  width: 480px;
  max-width: 480px;
  max-height: max-content;
}
.c_main_shop .leftside .image .discount {
  position: absolute;
  width: 80px;
  height: 40px;
  margin-left: 0px;
  margin-top: 0px;
  padding-top: 8px;
  text-align: center;
  background-color: #e90f2c;
}
.c_main_shop .leftside .image .discount span {
  font-size: 22px;
  color: white;
}
.c_main_shop .leftside .image .big img {
  width: 480px;
  height: 320px;
}
.c_main_shop .leftside .image .small {
  flex-wrap: nowrap;
}
.c_main_shop .leftside .image .small img {
  width: 92px;
  height: 61px;
}
.c_main_shop .leftside .image .select {
  border: 1px solid #0d1c6b;
}
.c_main_shop .rightside {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
}
.c_main_shop .rightside .description {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.c_main_shop .rightside .description div {
  width: 100%;
}
.c_main_shop .rightside .description .bigtext {
  max-height: max-content;
  margin-bottom: 20px;
}
.c_main_shop .rightside .description .bigtext span {
  font-family: 'Roboto Slab';
  font-weight: bold;
  font-size: 32px;
}
.c_main_shop .rightside .description .brakeline {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  height: 80px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
  background-color: white;
}
.c_main_shop .rightside .description .brakeline div {
  order: 1;
  cursor: pointer;
  margin-top: 20px;
  width: 240px;
  height: 40px;
  background-color: #0d1c6b;
  text-align: center;
  padding-top: 8px;
}
.c_main_shop .rightside .description .brakeline div span {
  font-size: 20px;
  color: white;
}
.c_main_shop .rightside .description .brakeline div:hover {
  opacity: 0.9;
}
.c_main_shop .rightside .description .brakeline .buy {
  order: 1;
  background-color: #32ab4e;
}
.c_main_shop .rightside .description .brakeline .pricediv {
  order: 0;
  height: 60px;
  margin-top: 10px;
  padding-top: 14px;
  max-width: max-content;
  padding-right: 20px;
  background-color: white;
}
.c_main_shop .rightside .description .brakeline .pricediv span {
  font-weight: 400;
  font-size: 30px;
  color: #e90f2c;
}
.c_main_shop .rightside .description .smalltext {
  max-height: max-content;
  overflow: hidden;
  padding-right: 40px;
}
.c_main_shop .rightside .description .smalltext span {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 22px;
  color: #3f3d3d;
}
/*************************************************************************************************/
/*********************************** КОРЗИНА******************************************************/
/*************************************************************************************************/
.off_menu .c_main_menu {
  display: none;
}
.off_menu .c_main_shop {
  max-width: 940px;
  margin: 0 auto;
}
.off_menu .c_main_shop .main_basket {
  max-width: 980px;
  margin: 0 auto;
}
.c_main_shop .main_basket {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 20px;
  width: 100%;
  height: max-content;
}
.c_main_shop .main_basket .header {
  width: 100%;
  height: 100px;
  padding-top: 30px;
}
.c_main_shop .main_basket .header span {
  font-size: 30px;
}
.c_main_shop .main_basket .left {
  display: flex;
  flex-direction: column;
  flex: 5;
}
.c_main_shop .main_basket .left .area {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.c_main_shop .main_basket .left .area .item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 174px;
  padding-top: 20px;
  padding-bottom: 10px;
}
.c_main_shop .main_basket .left .area .item .item_image {
  width: 114px;
}
.c_main_shop .main_basket .left .area .item .item_image img {
  width: 100%;
}
.c_main_shop .main_basket .left .area .item .description {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: space-between;
  height: 144px;
  padding-left: 10px;
  padding-right: 10px;
}
.c_main_shop .main_basket .left .area .item .description .title span {
  font-size: 14px;
}
.c_main_shop .main_basket .left .area .item .description .price {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.c_main_shop .main_basket .left .area .item .description .price .singleprice {
  width: max-content;
}
.c_main_shop .main_basket .left .area .item .description .price .singleprice span {
  font-size: 20px;
  font-weight: 500;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #0d1c6b;
  color: white;
}
.c_main_shop .main_basket .left .area .item .description .price .count {
  width: 68px;
}
.c_main_shop .main_basket .left .area .item .description .price .count .input {
  width: 64px;
  height: 20px;
}
.c_main_shop .main_basket .left .area .item .description .price .count .input input {
  width: inherit;
  height: inherit;
  padding-left: 28%;
  font-size: 18px;
  font-weight: 500;
}
.c_main_shop .main_basket .left .area .item .description .price .multiply {
  width: max-content;
  font-size: 20px;
  font-weight: 500;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #32ab4e;
  color: white;
}
.c_main_shop .main_basket .left .area .item .description .props span {
  font-size: 12px;
}
.c_main_shop .main_basket .left .area .item .delete {
  width: 10%;
}
.c_main_shop .main_basket .left .area .item .delete .x {
  cursor: pointer;
  width: 26px;
  height: 26px;
  margin: 58px auto;
}
.c_main_shop .main_basket .left .area .item .delete .x:hover {
  filter: invert(1);
}
.c_main_shop .main_basket .left .continue {
  -webkit-user-select: none;
  margin-top: 40px;
  margin-bottom: 20px;
  width: 100%;
  height: 64px;
}
.c_main_shop .main_basket .left .continue .block {
  cursor: pointer;
  width: 206px;
  height: 64px;
  background-color: #f2f2f2;
}
.c_main_shop .main_basket .left .continue .block .text {
  width: max-content;
  padding-top: 24px;
  margin: 0 auto;
}
.c_main_shop .main_basket .left .continue .block .text span {
  color: black;
  font-size: 16px;
}
.c_main_shop .main_basket .left .continue .block:hover {
  opacity: 0.8;
}
.c_main_shop .main_basket .right {
  flex: 2;
  padding-left: 10px;
}
.c_main_shop .main_basket .right .itempattern {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  height: 26px;
}
.c_main_shop .main_basket .right .itempattern .text {
  width: max-content;
  padding-top: 2px;
  height: inherit;
}
.c_main_shop .main_basket .right .itempattern .total {
  padding-top: 2px;
  width: max-content;
  height: inherit;
}
.c_main_shop .main_basket .right .calculate {
  width: 100%;
  height: 52px;
}
.c_main_shop .main_basket .right .calculate .items {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  height: 26px;
}
.c_main_shop .main_basket .right .calculate .items .text {
  width: max-content;
  padding-top: 2px;
  height: inherit;
}
.c_main_shop .main_basket .right .calculate .items .total {
  padding-top: 2px;
  width: max-content;
  height: inherit;
}
.c_main_shop .main_basket .right .calculate .shipping {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  height: 26px;
}
.c_main_shop .main_basket .right .calculate .shipping .text {
  width: max-content;
  padding-top: 2px;
  height: inherit;
}
.c_main_shop .main_basket .right .calculate .shipping .total {
  padding-top: 2px;
  width: max-content;
  height: inherit;
}
.c_main_shop .main_basket .right .total {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 26px;
  width: 100%;
  height: 68px;
}
.c_main_shop .main_basket .right .total .text {
  width: max-content;
  padding-top: 2px;
  height: inherit;
}
.c_main_shop .main_basket .right .total .total {
  padding-top: 2px;
  width: max-content;
  height: inherit;
}
.c_main_shop .main_basket .right .total .text {
  padding-top: 20px;
}
.c_main_shop .main_basket .right .total .text span {
  font-size: 24px;
}
.c_main_shop .main_basket .right .total .total {
  padding-top: 20px;
}
.c_main_shop .main_basket .right .total .total span {
  font-size: 24px;
}
.c_main_shop .main_basket .right .promo {
  margin-top: 5px;
}
.c_main_shop .main_basket .right .promo .promoinput {
  width: 100%;
  height: 40px;
}
.c_main_shop .main_basket .right .promo .promoinput input {
  font-size: 18px;
  padding-left: 16px;
  width: inherit;
  height: inherit;
}
.c_main_shop .main_basket .right .mkorder {
  -webkit-user-select: none;
  cursor: pointer;
  margin-top: 5px;
  width: 100%;
  height: 64px;
  background-color: #32ab4e;
}
.c_main_shop .main_basket .right .mkorder .text {
  width: max-content;
  padding-top: 18px;
  margin: 0 auto;
}
.c_main_shop .main_basket .right .mkorder .text span {
  color: white;
  font-size: 24px;
}
.c_main_shop .main_basket .right .mkorder:hover {
  opacity: 0.8;
}
/*************************************************************************************************/
/*********************************** АВТОРИЗАЦИЯ *************************************************/
/*************************************************************************************************/
.c_main .c_main_shop .clientarea {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.c_main .c_main_shop .clientarea .newclient {
  width: 35%;
  border: 1px solid #f2f2f2;
  max-height: max-content;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 40px;
  padding-bottom: 20px;
}
.c_main .c_main_shop .clientarea .newclient .title span {
  font-size: 24px;
  font-weight: 400;
}
.c_main .c_main_shop .clientarea .newclient .text {
  margin-top: 10px;
}
.c_main .c_main_shop .clientarea .newclient .text span {
  font-size: 14px;
}
.c_main .c_main_shop .clientarea .newclient .text span .bold {
  font-weight: bold;
  font-size: 16px;
}
.c_main .c_main_shop .clientarea .newclient .footer {
  margin-top: 10px;
}
.c_main .c_main_shop .clientarea .newclient .footer .buttonreg {
  cursor: pointer;
  width: 120px;
  height: 30px;
  background-color: #0d1c6b;
  text-align: center;
  padding-top: 6px;
}
.c_main .c_main_shop .clientarea .newclient .footer .buttonreg span {
  color: white;
}
.c_main .c_main_shop .clientarea .newclient .footer .buttonreg:hover {
  opacity: 0.8;
}
.c_main .c_main_shop .clientarea .login {
  width: 35%;
  border: 1px solid #f2f2f2;
  max-height: max-content;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 40px;
  padding-bottom: 20px;
}
.c_main .c_main_shop .clientarea .login .title span {
  font-size: 20px;
  font-weight: 400;
}
.c_main .c_main_shop .clientarea .login .formlogin {
  margin-top: 10px;
}
.c_main .c_main_shop .clientarea .login .formlogin span {
  font-size: 16px;
  font-weight: bold;
}
.c_main .c_main_shop .clientarea .login .formlogin .inputpattern {
  margin-top: 5px;
  width: 80%;
  height: 30px;
}
.c_main .c_main_shop .clientarea .login .formlogin .inputpattern input {
  padding-left: 10px;
  width: inherit;
  height: inherit;
}
.c_main .c_main_shop .clientarea .login .formlogin .inputl {
  margin-top: 5px;
  width: 80%;
  height: 30px;
}
.c_main .c_main_shop .clientarea .login .formlogin .inputl input {
  padding-left: 10px;
  width: inherit;
  height: inherit;
}
.c_main .c_main_shop .clientarea .login .formlogin .inputp {
  margin-top: 5px;
  width: 80%;
  height: 30px;
}
.c_main .c_main_shop .clientarea .login .formlogin .inputp input {
  padding-left: 10px;
  width: inherit;
  height: inherit;
}
.c_main .c_main_shop .clientarea .login .footer {
  margin-top: 10px;
}
.c_main .c_main_shop .clientarea .login .footer .buttonreg {
  cursor: pointer;
  width: 120px;
  height: 30px;
  background-color: #0d1c6b;
  text-align: center;
  padding-top: 6px;
}
.c_main .c_main_shop .clientarea .login .footer .buttonreg span {
  color: white;
}
.c_main .c_main_shop .clientarea .login .footer .buttonreg:hover {
  opacity: 0.8;
}
.c_main .c_main_shop .clientarea .verticalop {
  width: 25%;
  border: 1px solid #f2f2f2;
  max-height: max-content;
}
.c_main .c_main_shop .clientarea .verticalop ul {
  cursor: pointer;
  width: 100%;
  padding-top: 1px;
  padding-bottom: 1px;
}
.c_main .c_main_shop .clientarea .verticalop ul li {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 1px;
  margin-left: 1px;
  margin-right: 1px;
}
.c_main .c_main_shop .clientarea .verticalop ul li span {
  font-size: 16px;
}
.c_main .c_main_shop .clientarea .verticalop ul li:hover {
  background-color: #0d1c6b;
}
.c_main .c_main_shop .clientarea .verticalop ul li:hover span {
  color: white;
}
/*************************************************************************************************/
/*********************************** РЕГИСТРАЦИЯ *************************************************/
/*************************************************************************************************/
.c_main .c_main_shop .clientarea .registration {
  padding-left: 10px;
  width: 70%;
}
.c_main .c_main_shop .clientarea .registration .title {
  width: 100%;
}
.c_main .c_main_shop .clientarea .registration .title span {
  font-size: 26px;
  font-weight: 500;
}
.c_main .c_main_shop .clientarea .registration .title_mini {
  width: 100%;
}
.c_main .c_main_shop .clientarea .registration .title_mini span {
  font-size: 14px;
}
.c_main .c_main_shop .clientarea .registration .title_mini span a span {
  color: black;
}
.c_main .c_main_shop .clientarea .registration .area .blockdata {
  margin-top: 20px;
}
.c_main .c_main_shop .clientarea .registration .area .blockdata .title {
  margin-bottom: 10px;
}
.c_main .c_main_shop .clientarea .registration .area .blockdata .title span {
  font-size: 20px;
  font-weight: 400;
}
.c_main .c_main_shop .clientarea .registration .area .blockdata .line {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  margin-bottom: 5px;
  height: 30px;
  overflow: hidden;
}
.c_main .c_main_shop .clientarea .registration .area .blockdata .line .inputname {
  width: 40%;
  margin-right: 10px;
  padding-top: 6px;
  text-align: right;
}
.c_main .c_main_shop .clientarea .registration .area .blockdata .line .inputname span {
  color: #3f3d3d;
}
.c_main .c_main_shop .clientarea .registration .area .blockdata .line .inputname span .red {
  color: red;
}
.c_main .c_main_shop .clientarea .registration .area .blockdata .line .input {
  height: 30px;
  width: 60%;
}
.c_main .c_main_shop .clientarea .registration .area .blockdata .line .input input {
  width: inherit;
  height: inherit;
  padding-left: 10px;
}
.c_main .c_main_shop .clientarea .registration .submitblock {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.c_main .c_main_shop .clientarea .registration .submitblock .submitpolicy {
  display: flex;
  flex-direction: row;
}
.c_main .c_main_shop .clientarea .registration .submitblock .submitpolicy .text {
  width: 100%;
}
.c_main .c_main_shop .clientarea .registration .submitblock .submitpolicy .text span {
  font-size: 14px;
}
.c_main .c_main_shop .clientarea .registration .submitblock .submitpolicy .input {
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 5px;
}
.c_main .c_main_shop .clientarea .registration .submitblock .submitpolicy .input input {
  width: 30px;
  height: 30px;
}
.c_main .c_main_shop .clientarea .registration .buttonsubmit {
  cursor: pointer;
  width: 120px;
  height: 30px;
  margin-top: 30px;
  background-color: #0d1c6b;
  text-align: center;
  padding-top: 6px;
}
.c_main .c_main_shop .clientarea .registration .buttonsubmit span {
  color: white;
}
.c_main .c_main_shop .clientarea .registration .buttonsubmit:hover {
  opacity: 0,8;
}
.c_main .c_main_shop .clientarea .verticalopr {
  width: 25%;
  border: 1px solid #f2f2f2;
  max-height: max-content;
}
.c_main .c_main_shop .clientarea .verticalopr ul {
  cursor: pointer;
  width: 100%;
  padding-top: 1px;
  padding-bottom: 1px;
}
.c_main .c_main_shop .clientarea .verticalopr ul li {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 1px;
  margin-left: 1px;
  margin-right: 1px;
}
.c_main .c_main_shop .clientarea .verticalopr ul li span {
  font-size: 16px;
}
.c_main .c_main_shop .clientarea .verticalopr ul li:hover {
  background-color: #0d1c6b;
}
.c_main .c_main_shop .clientarea .verticalopr ul li:hover span {
  color: white;
}
/******************************************************************************************/
/********************************* НОВАЯ ГЛАВНАЯ СТРАНИЦА**********************************/
/******************************************************************************************/
.c_wrapper {
  animation: none;
  /*********************** ПЕРВЫЙ БЛОК КОНТЕНТА *************************/
  /******************************** ЗАГОЛОВОК *************************************/
  /**************************************** СПЕЦИАЛЬНЫЕ ПРЕДЛОЖЕНИЯ ****************************/
  /**************************** ПЕРЕОПРЕДЕЛЕНИЕ ЗАГОЛОВКА НА МЕНЬШИЙ ****************************/
  /*************************************** ОБЗОР ПРОДУКЦИИ ***********************************/
  /********************************* ЖУРНАЛ ********************************/
}
.c_wrapper .blueline {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 30px;
  background-color: #0d1c6b;
}
.c_wrapper .blueline .container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  max-width: 1140px;
  height: inherit;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.c_wrapper .blueline .container .pattern {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: max-content;
}
.c_wrapper .blueline .container .pattern .image {
  margin-top: 5px;
}
.c_wrapper .blueline .container .pattern .text {
  margin-top: 5px;
  margin-left: 10px;
}
.c_wrapper .blueline .container .pattern .text span {
  color: white;
}
.c_wrapper .blueline .container .left {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: max-content;
}
.c_wrapper .blueline .container .left .image {
  margin-top: 5px;
}
.c_wrapper .blueline .container .left .text {
  margin-top: 5px;
  margin-left: 10px;
}
.c_wrapper .blueline .container .left .text span {
  color: white;
}
.c_wrapper .blueline .container .right {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: max-content;
}
.c_wrapper .blueline .container .right .image {
  margin-top: 5px;
}
.c_wrapper .blueline .container .right .text {
  margin-top: 5px;
  margin-left: 10px;
}
.c_wrapper .blueline .container .right .text span {
  color: white;
}
@media (max-width: 548px) {
  .c_wrapper .blueline .container {
    justify-content: flex-start;
  }
  .c_wrapper .blueline .container .left {
    margin-right: 10px;
  }
  .c_wrapper .blueline .container .left .text {
    display: none;
  }
}
.c_wrapper .space1 {
  display: flex;
  flex-direction: column;
  max-width: 1140px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.c_wrapper .space1 .row1 {
  margin-top: 1.35%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: min-content;
}
@media (max-width: 768px) {
  .c_wrapper .space1 .row1 {
    flex-direction: column;
  }
}
.c_wrapper .space1 .row1 .itempattern {
  -webkit-user-select: none;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.c_wrapper .space1 .row1 .itempattern .infoblock {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: max-content;
  text-align: center;
  bottom: 17%;
}
.c_wrapper .space1 .row1 .itempattern .infoblock .title {
  width: max-content;
  margin: 0 auto;
}
.c_wrapper .space1 .row1 .itempattern .infoblock .title span {
  font-family: 'Roboto Slab';
  font-weight: 600;
  font-size: 32px;
  color: white;
}
.c_wrapper .space1 .row1 .itempattern .infoblock .text {
  margin-top: 16px;
}
.c_wrapper .space1 .row1 .itempattern .infoblock .text span {
  font-size: 12px;
  color: white;
}
.c_wrapper .space1 .row1 .itempattern .infoblock .button {
  width: 140px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 20px auto;
  margin-bottom: 0px;
  border: 1px solid white;
}
.c_wrapper .space1 .row1 .itempattern .infoblock .button span {
  font-size: 14px;
  color: white;
}
.c_wrapper .space1 .row1 .item1 {
  flex: 554;
  width: 100%;
  height: 100%;
  overflow: hidden;
  max-width: 554px;
  max-height: 322px;
  -webkit-user-select: none;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.c_wrapper .space1 .row1 .item1 .infoblock {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: max-content;
  text-align: center;
  bottom: 17%;
}
.c_wrapper .space1 .row1 .item1 .infoblock .title {
  width: max-content;
  margin: 0 auto;
}
.c_wrapper .space1 .row1 .item1 .infoblock .title span {
  font-family: 'Roboto Slab';
  font-weight: 600;
  font-size: 32px;
  color: white;
}
.c_wrapper .space1 .row1 .item1 .infoblock .text {
  margin-top: 16px;
}
.c_wrapper .space1 .row1 .item1 .infoblock .text span {
  font-size: 12px;
  color: white;
}
.c_wrapper .space1 .row1 .item1 .infoblock .button {
  width: 140px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 20px auto;
  margin-bottom: 0px;
  border: 1px solid white;
}
.c_wrapper .space1 .row1 .item1 .infoblock .button span {
  font-size: 14px;
  color: white;
}
.c_wrapper .space1 .row1 .item1 img {
  max-width: inherit;
  max-height: inherit;
  width: inherit;
  height: inherit;
}
@media (max-width: 768px) {
  .c_wrapper .space1 .row1 .item1 {
    max-width: 738px;
    max-height: 212px;
    margin-bottom: 1.5%;
  }
  .c_wrapper .space1 .row1 .item1 .infoblock {
    bottom: 12%;
  }
  .c_wrapper .space1 .row1 .item1 img {
    max-width: unset;
    max-height: unset;
    width: 554px;
    min-width: 738px;
    min-height: 417px;
  }
}
.c_wrapper .space1 .row1 .item2 {
  flex: 541;
  margin-left: 1.35%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  flex-shrink: inherit;
  max-width: 541px;
  max-height: 322px;
  -webkit-user-select: none;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.c_wrapper .space1 .row1 .item2 .infoblock {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: max-content;
  text-align: center;
  bottom: 17%;
}
.c_wrapper .space1 .row1 .item2 .infoblock .title {
  width: max-content;
  margin: 0 auto;
}
.c_wrapper .space1 .row1 .item2 .infoblock .title span {
  font-family: 'Roboto Slab';
  font-weight: 600;
  font-size: 32px;
  color: white;
}
.c_wrapper .space1 .row1 .item2 .infoblock .text {
  margin-top: 16px;
}
.c_wrapper .space1 .row1 .item2 .infoblock .text span {
  font-size: 12px;
  color: white;
}
.c_wrapper .space1 .row1 .item2 .infoblock .button {
  width: 140px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 20px auto;
  margin-bottom: 0px;
  border: 1px solid white;
}
.c_wrapper .space1 .row1 .item2 .infoblock .button span {
  font-size: 14px;
  color: white;
}
.c_wrapper .space1 .row1 .item2 img {
  max-width: inherit;
  max-height: inherit;
  width: inherit;
  height: inherit;
}
@media (max-width: 768px) {
  .c_wrapper .space1 .row1 .item2 {
    max-width: 738px;
    max-height: 212px;
    margin-left: 0;
  }
  .c_wrapper .space1 .row1 .item2 .infoblock {
    bottom: 12%;
  }
  .c_wrapper .space1 .row1 .item2 img {
    max-width: unset;
    max-height: unset;
    width: 541px;
    min-width: 738px;
    min-height: 427px;
  }
}
.c_wrapper .space1 .row2 {
  margin-top: 1.35%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: min-content;
}
.c_wrapper .space1 .row2 .itempattern {
  -webkit-user-select: none;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.c_wrapper .space1 .row2 .itempattern .infoblock {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: max-content;
  text-align: center;
  bottom: 17%;
}
.c_wrapper .space1 .row2 .itempattern .infoblock .title {
  width: max-content;
  margin: 0 auto;
}
.c_wrapper .space1 .row2 .itempattern .infoblock .title span {
  font-family: 'Roboto Slab';
  font-weight: 600;
  font-size: 32px;
  color: white;
}
.c_wrapper .space1 .row2 .itempattern .infoblock .text {
  margin-top: 16px;
}
.c_wrapper .space1 .row2 .itempattern .infoblock .text span {
  font-size: 12px;
  color: white;
}
.c_wrapper .space1 .row2 .itempattern .infoblock .button {
  width: 140px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 20px auto;
  margin-bottom: 0px;
  border: 1px solid white;
}
.c_wrapper .space1 .row2 .itempattern .infoblock .button span {
  font-size: 14px;
  color: white;
}
@media (max-width: 768px) {
  .c_wrapper .space1 .row2 .itempattern .infoblock {
    bottom: 8%;
  }
}
.c_wrapper .space1 .row2 .item3 {
  flex: 730;
  width: 100%;
  height: 100%;
  max-width: 730px;
  max-height: 250px;
  -webkit-user-select: none;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.c_wrapper .space1 .row2 .item3 .infoblock {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: max-content;
  text-align: center;
  bottom: 17%;
}
.c_wrapper .space1 .row2 .item3 .infoblock .title {
  width: max-content;
  margin: 0 auto;
}
.c_wrapper .space1 .row2 .item3 .infoblock .title span {
  font-family: 'Roboto Slab';
  font-weight: 600;
  font-size: 32px;
  color: white;
}
.c_wrapper .space1 .row2 .item3 .infoblock .text {
  margin-top: 16px;
}
.c_wrapper .space1 .row2 .item3 .infoblock .text span {
  font-size: 12px;
  color: white;
}
.c_wrapper .space1 .row2 .item3 .infoblock .button {
  width: 140px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 20px auto;
  margin-bottom: 0px;
  border: 1px solid white;
}
.c_wrapper .space1 .row2 .item3 .infoblock .button span {
  font-size: 14px;
  color: white;
}
@media (max-width: 768px) {
  .c_wrapper .space1 .row2 .item3 .infoblock {
    bottom: 8%;
  }
}
.c_wrapper .space1 .row2 .item3 .infoblock {
  margin-top: 92px;
}
.c_wrapper .space1 .row2 .item3 img {
  max-width: inherit;
  max-height: inherit;
  width: inherit;
  height: inherit;
}
.c_wrapper .space1 .row2 .item4 {
  flex: 366;
  width: 100%;
  height: 100%;
  margin-left: 1.35%;
  max-width: 366px;
  max-height: 250px;
  -webkit-user-select: none;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.c_wrapper .space1 .row2 .item4 .infoblock {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: max-content;
  text-align: center;
  bottom: 17%;
}
.c_wrapper .space1 .row2 .item4 .infoblock .title {
  width: max-content;
  margin: 0 auto;
}
.c_wrapper .space1 .row2 .item4 .infoblock .title span {
  font-family: 'Roboto Slab';
  font-weight: 600;
  font-size: 32px;
  color: white;
}
.c_wrapper .space1 .row2 .item4 .infoblock .text {
  margin-top: 16px;
}
.c_wrapper .space1 .row2 .item4 .infoblock .text span {
  font-size: 12px;
  color: white;
}
.c_wrapper .space1 .row2 .item4 .infoblock .button {
  width: 140px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 20px auto;
  margin-bottom: 0px;
  border: 1px solid white;
}
.c_wrapper .space1 .row2 .item4 .infoblock .button span {
  font-size: 14px;
  color: white;
}
@media (max-width: 768px) {
  .c_wrapper .space1 .row2 .item4 .infoblock {
    bottom: 8%;
  }
}
.c_wrapper .space1 .row2 .item4 img {
  max-width: inherit;
  max-height: inherit;
  width: inherit;
  height: inherit;
}
@media (max-width: 640px) {
  .c_wrapper .space1 .row2 .item4 .infoblock {
    top: 5px;
    bottom: unset;
  }
  .c_wrapper .space1 .row2 .item4 .infoblock span {
    font-size: 24px;
  }
}
@media (max-width: 548px) {
  .c_wrapper .space1 .row2 {
    flex-direction: column;
    height: unset;
  }
  .c_wrapper .space1 .row2 .item3 {
    max-height: 212px;
    overflow: hidden;
  }
  .c_wrapper .space1 .row2 .item3 .infoblock {
    bottom: 12%;
  }
  .c_wrapper .space1 .row2 .item3 img {
    min-width: 738px;
    min-height: 417px;
    width: 100%;
  }
  .c_wrapper .space1 .row2 .item4 {
    max-height: 212px;
    max-width: unset;
    margin-left: 0;
    margin-top: 1.5%;
    overflow: hidden;
  }
  .c_wrapper .space1 .row2 .item4 img {
    min-width: 738px;
    min-height: 417px;
    width: 100%;
  }
  .c_wrapper .space1 .row2 .item4 .infoblock {
    top: unset;
    bottom: 12%;
  }
}
.c_wrapper .global_title {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 80px;
  margin-bottom: 60px;
  width: 100%;
  height: 66px;
}
.c_wrapper .global_title .left {
  width: 100%;
  margin-top: 32px;
  height: 1px;
  border-top: 1px solid #949494;
}
.c_wrapper .global_title .right {
  width: 100%;
  margin-top: 32px;
  height: 1px;
  border-top: 1px solid #949494;
}
.c_wrapper .global_title .title {
  min-width: 600px;
  text-align: center;
  padding-top: 18px;
  border: 1px solid #949494;
}
.c_wrapper .global_title .title span {
  font-family: 'Roboto Slab';
  font-weight: bold;
  font-size: 26px;
  color: #3f3d3d;
}
@media (max-width: 640px) {
  .c_wrapper .global_title .title {
    min-width: 280px;
    width: 280px;
    padding-top: 6px;
  }
  .c_wrapper .global_title .title span {
    font-size: 20px;
  }
}
.c_wrapper .space2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1140px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0px auto;
  margin-bottom: 0px;
}
.c_wrapper .space2 .item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 24%;
  height: max-content;
  border: 1px solid #e8e8e8;
}
.c_wrapper .space2 .item .image {
  width: 100%;
}
.c_wrapper .space2 .item .image img {
  width: inherit;
}
.c_wrapper .space2 .item .title {
  margin-top: 17px;
  width: 100%;
  text-align: center;
}
.c_wrapper .space2 .item .title span {
  font-family: 'Roboto Slab';
  font-weight: bold;
  font-size: 20px;
  color: #3f3d3d;
}
.c_wrapper .space2 .item .text {
  margin-top: 8px;
  width: 100%;
  text-align: center;
}
.c_wrapper .space2 .item .text span {
  font-size: 13px;
  color: #3f3d3d;
}
.c_wrapper .space2 .item .button {
  width: 140px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 27px auto;
  border: 1px solid #5c5955;
}
.c_wrapper .space2 .item .button span {
  font-size: 14px;
  color: #726f6c;
}
.c_wrapper .space2 .item .button:hover {
  border: 1px solid #3f3d3d;
}
.c_wrapper .space2 .item .button:hover span {
  color: #3f3d3d;
}
.c_wrapper .space2 .item:hover {
  -webkit-transform: scale(1.01, 1.01);
  -moz-transform: scale(1.01, 1.01);
  box-shadow: 0px 0px 12px 7px rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: 0px 0px 12px 7px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0px 0px 12px 7px rgba(0, 0, 0, 0.07);
}
@media (max-width: 768px) {
  .c_wrapper .space2 {
    justify-content: center;
  }
  .c_wrapper .space2 .item {
    width: 34%;
    max-width: 256px;
    margin-right: 30px;
    margin-bottom: 1.5%;
  }
}
@media (max-width: 548px) {
  .c_wrapper .space2 .item {
    width: 100%;
    margin-right: 0;
  }
}
.c_wrapper .global_title_mini {
  margin-top: 80px;
  margin-bottom: 50px;
  width: 100%;
  height: 48px;
}
.c_wrapper .global_title_mini .left {
  width: 100%;
  margin-top: 23px;
}
.c_wrapper .global_title_mini .right {
  width: 100%;
  margin-top: 23px;
}
.c_wrapper .global_title_mini .title {
  min-width: 424px;
  text-align: center;
  padding-top: 6px;
  border: 1px solid #949494;
}
.c_wrapper .global_title_mini .title span {
  font-family: 'Roboto Slab';
  font-weight: bold;
  font-size: 26px;
  color: #3f3d3d;
}
@media (max-width: 768px) {
  .c_wrapper .global_title_mini {
    margin-top: 0px;
  }
}
@media (max-width: 640px) {
  .c_wrapper .global_title_mini .title {
    min-width: 280px;
    width: 280px;
    padding-top: 10px;
  }
  .c_wrapper .global_title_mini .title span {
    font-size: 20px;
  }
}
.c_wrapper .space3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1140px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0px auto;
}
.c_wrapper .space3 .item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 32%;
  max-width: 350px;
  height: max-content;
  border: 1px solid #e8e8e8;
}
.c_wrapper .space3 .item .image {
  width: 100%;
}
.c_wrapper .space3 .item .image img {
  width: inherit;
}
.c_wrapper .space3 .item .pretitle {
  text-align: center;
  margin-top: 38px;
}
.c_wrapper .space3 .item .pretitle span {
  font-size: 16px;
  color: #999999;
}
.c_wrapper .space3 .item .title {
  margin-top: 21px;
  line-height: 28px;
  width: 100%;
  text-align: center;
}
.c_wrapper .space3 .item .title span {
  font-family: 'Roboto Slab';
  font-weight: bold;
  font-size: 20px;
  color: #3f3d3d;
}
.c_wrapper .space3 .item .text {
  margin-top: 25px;
  line-height: 22px;
  width: 100%;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}
.c_wrapper .space3 .item .text span {
  font-size: 16px;
  color: #3f3d3d;
}
.c_wrapper .space3 .item .button {
  width: 152px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 27px auto;
  margin-bottom: 33px;
  border: 1px solid #5c5955;
}
.c_wrapper .space3 .item .button span {
  font-size: 14px;
  color: #726f6c;
}
.c_wrapper .space3 .item .button:hover {
  border: 1px solid #3f3d3d;
}
.c_wrapper .space3 .item .button:hover span {
  color: #3f3d3d;
}
.c_wrapper .space3 .item .sharingline {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  height: 58px;
  border-top: 1px solid #e8e8e8;
  padding-left: 30px;
  padding-right: 30px;
}
.c_wrapper .space3 .item .sharingline .left {
  padding-top: 20px;
}
.c_wrapper .space3 .item .sharingline .left img {
  margin-right: 8px;
}
.c_wrapper .space3 .item .sharingline .left span {
  color: #999999;
}
.c_wrapper .space3 .item .sharingline .right {
  padding-top: 13px;
}
.c_wrapper .space3 .item:hover {
  -webkit-transform: scale(1.01, 1.01);
  -moz-transform: scale(1.01, 1.01);
  box-shadow: 0px 0px 12px 7px rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: 0px 0px 12px 7px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0px 0px 12px 7px rgba(0, 0, 0, 0.07);
}
@media (max-width: 840px) {
  .c_wrapper .space3 .item .pretitle {
    margin-top: 4px;
  }
  .c_wrapper .space3 .item .pretitle span {
    font-size: 14px;
  }
  .c_wrapper .space3 .item .title {
    margin-top: 2px;
  }
  .c_wrapper .space3 .item .title span {
    font-size: 14px;
  }
  .c_wrapper .space3 .item .text {
    margin-top: 0px;
    max-height: 67px;
    overflow: hidden;
  }
  .c_wrapper .space3 .item .text span {
    font-size: 12px;
  }
  .c_wrapper .space3 .item .button {
    margin-top: 12px;
    margin-bottom: 6px;
    width: 120px;
  }
  .c_wrapper .space3 .item .sharingline {
    height: 34px;
    padding-left: 8px;
    padding-right: 8px;
  }
  .c_wrapper .space3 .item .sharingline .left {
    padding-top: 8px;
  }
  .c_wrapper .space3 .item .sharingline .right {
    padding-top: 1px;
  }
}
@media (max-width: 548px) {
  .c_wrapper .space3 {
    justify-content: center;
  }
  .c_wrapper .space3 .item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
}
.c_wrapper .space4 {
  /*************** НЕ ИЗМЕНЯЛОСЬ *****************/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1140px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0px auto;
}
.c_wrapper .space4 .item {
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 32%;
  max-width: 350px;
  margin-bottom: 1.5%;
  height: max-content;
  border: 1px solid #e8e8e8;
}
.c_wrapper .space4 .item .image {
  overflow: hidden;
  position: relative;
  width: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: center;
}
.c_wrapper .space4 .item .image .text {
  position: absolute;
  line-height: 22px;
  max-width: 250px;
  margin-left: 3px;
  margin-right: 3px;
  bottom: 8px;
  text-align: center;
}
.c_wrapper .space4 .item .image .text span {
  font-size: 16px;
  color: white;
}
.c_wrapper .space4 .item .title {
  margin-top: 21px;
  margin-bottom: 20px;
  margin-left: 3px;
  margin-right: 3px;
  line-height: 28px;
  width: 100%;
  text-align: center;
}
.c_wrapper .space4 .item .title span {
  font-family: 'Roboto Slab';
  font-weight: bold;
  font-size: 20px;
  color: #3f3d3d;
}
.c_wrapper .space4 .item:hover {
  -webkit-transform: scale(1.01, 1.01);
  -moz-transform: scale(1.01, 1.01);
  box-shadow: 0px 0px 12px 7px rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: 0px 0px 12px 7px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0px 0px 12px 7px rgba(0, 0, 0, 0.07);
}
@media (max-width: 768px) {
  .c_wrapper .space4 .item {
    width: 49%;
    max-width: 350px;
  }
}
@media (max-width: 548px) {
  .c_wrapper .space4 {
    justify-content: center;
  }
  .c_wrapper .space4 .item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
}
.c_wrapper .space5 {
  display: flex;
  flex-direction: column;
  max-width: 1140px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0px auto;
  margin-bottom: 100px;
}
.c_wrapper .space5 .marginright {
  margin-right: 1.5%;
}
.c_wrapper .space5 .row1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1.5%;
}
.c_wrapper .space5 .row1 .item {
  cursor: pointer;
  -webkit-user-select: none;
  width: 100%;
  height: 100%;
  max-width: 540px;
  max-height: 360px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.c_wrapper .space5 .row1 .item .image {
  width: 100%;
  height: 100%;
  max-width: 540px;
  max-height: 360px;
}
.c_wrapper .space5 .row1 .item .image img {
  z-index: 1;
  width: inherit;
  height: inherit;
}
.c_wrapper .space5 .row1 .item .infoblock {
  z-index: 999;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: inherit;
  text-align: center;
}
.c_wrapper .space5 .row1 .item .infoblock .toptitle {
  width: max-content;
  text-align: center;
  margin: 20px auto;
  margin-bottom: 8px;
}
.c_wrapper .space5 .row1 .item .infoblock .toptitle span {
  font-family: 'Roboto Slab';
  font-size: 12px;
  color: white;
}
@media (max-width: 640px) {
  .c_wrapper .space5 .row1 .item .infoblock .toptitle {
    margin-top: 10px;
  }
}
.c_wrapper .space5 .row1 .item .infoblock .bigtitle {
  width: 100%;
  height: 100px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.41);
  padding-top: 16px;
}
.c_wrapper .space5 .row1 .item .infoblock .bigtitle span {
  font-family: 'Roboto Slab';
  font-size: 24px;
  color: white;
}
@media (max-width: 1110px) {
  .c_wrapper .space5 .row1 .item .infoblock .bigtitle {
    height: 68px;
    padding-top: 7px;
  }
  .c_wrapper .space5 .row1 .item .infoblock .bigtitle span {
    font-size: 20px;
  }
}
@media (max-width: 640px) {
  .c_wrapper .space5 .row1 .item .infoblock .bigtitle {
    padding-top: 2px;
  }
}
.c_wrapper .space5 .row1 .item .infoblock .date {
  margin-top: 10px;
}
.c_wrapper .space5 .row1 .item .infoblock .date span {
  font-family: 'Roboto Slab';
  font-size: 12px;
  color: white;
}
.c_wrapper .space5 .row1 .item .infoblock .text {
  width: max-content;
  max-width: 60%;
  max-height: 57px;
  margin: 10px auto;
  overflow: hidden;
}
.c_wrapper .space5 .row1 .item .infoblock .text span {
  font-size: 14px;
  color: #dcdbdb;
}
@media (max-width: 840px) {
  .c_wrapper .space5 .row1 .item .infoblock .text {
    display: none;
  }
}
@media (max-width: 968px) {
  .c_wrapper .space5 .row1 .item .infoblock .text {
    max-height: 55px;
    overflow: hidden;
  }
  .c_wrapper .space5 .row1 .item .infoblock .text span {
    font-size: 10px;
  }
}
.c_wrapper .space5 .row1 .item .infoblock .button {
  width: 140px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 5px auto;
  margin-bottom: 0px;
  border: 1px solid white;
}
.c_wrapper .space5 .row1 .item .infoblock .button span {
  font-size: 14px;
  color: white;
}
@media (max-width: 640px) {
  .c_wrapper .space5 .row1 .item .infoblock .button {
    width: 100px;
  }
  .c_wrapper .space5 .row1 .item .infoblock .button span {
    font-size: 12px;
  }
}
.c_wrapper .space5 .row1 .item .infoblock .button:hover {
  opacity: 0.8;
}
@media (max-width: 840px) {
  .c_wrapper .space5 .row1 .item .infoblock {
    bottom: 36px;
  }
}
@media (max-width: 640px) {
  .c_wrapper .space5 .row1 .item .infoblock {
    top: 0px;
  }
}
.c_wrapper .space5 .row1 .item .sharingline {
  z-index: 2;
  position: absolute;
  bottom: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  height: max-content;
  padding-left: 10px;
  padding-right: 10px;
}
.c_wrapper .space5 .row1 .item .sharingline .left {
  padding-top: 8px;
}
.c_wrapper .space5 .row1 .item .sharingline .left img {
  filter: invert(1);
  margin-right: 8px;
}
.c_wrapper .space5 .row1 .item .sharingline .left span {
  color: white;
}
.c_wrapper .space5 .row1 .item .sharingline .right {
  padding-top: 0px;
}
.c_wrapper .space5 .row1 .item .sharingline .right img {
  filter: invert(1);
}
@media (max-width: 1110px) {
}
.c_wrapper .space5 .row1 .item:hover .image img {
  z-index: 1;
  filter: brightness(110%);
}
@media (max-width: 548px) {
  .c_wrapper .space5 .row1 {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 0px;
  }
  .c_wrapper .space5 .row1 .item {
    max-width: 350px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
  }
}
.c_wrapper .space5 .row2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.c_wrapper .space5 .row2 .item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 32%;
  max-width: 350px;
  height: max-content;
  border: 1px solid #e8e8e8;
}
.c_wrapper .space5 .row2 .item .image {
  width: 100%;
}
.c_wrapper .space5 .row2 .item .image img {
  width: inherit;
}
.c_wrapper .space5 .row2 .item .pretitle {
  text-align: center;
  margin-top: 38px;
}
.c_wrapper .space5 .row2 .item .pretitle span {
  font-size: 16px;
  color: #999999;
}
.c_wrapper .space5 .row2 .item .title {
  margin-top: 21px;
  line-height: 28px;
  width: 100%;
  text-align: center;
}
.c_wrapper .space5 .row2 .item .title span {
  font-family: 'Roboto Slab';
  font-weight: bold;
  font-size: 20px;
  color: #3f3d3d;
}
.c_wrapper .space5 .row2 .item .text {
  margin-top: 25px;
  line-height: 22px;
  width: 100%;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}
.c_wrapper .space5 .row2 .item .text span {
  font-size: 16px;
  color: #3f3d3d;
}
.c_wrapper .space5 .row2 .item .button {
  width: 152px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 27px auto;
  border: 1px solid #5c5955;
}
.c_wrapper .space5 .row2 .item .button span {
  font-size: 14px;
  color: #726f6c;
}
.c_wrapper .space5 .row2 .item .button:hover {
  border: 1px solid #3f3d3d;
}
.c_wrapper .space5 .row2 .item .button:hover span {
  color: #3f3d3d;
}
.c_wrapper .space5 .row2 .item .sharingline {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  height: 58px;
  border-top: 1px solid #e8e8e8;
  padding-left: 30px;
  padding-right: 30px;
}
.c_wrapper .space5 .row2 .item .sharingline .left {
  padding-top: 20px;
}
.c_wrapper .space5 .row2 .item .sharingline .left img {
  margin-right: 8px;
}
.c_wrapper .space5 .row2 .item .sharingline .left span {
  color: #999999;
}
.c_wrapper .space5 .row2 .item .sharingline .right {
  padding-top: 13px;
}
.c_wrapper .space5 .row2 .item:hover {
  -webkit-transform: scale(1.01, 1.01);
  -moz-transform: scale(1.01, 1.01);
  box-shadow: 0px 0px 12px 7px rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: 0px 0px 12px 7px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0px 0px 12px 7px rgba(0, 0, 0, 0.07);
}
@media (max-width: 840px) {
  .c_wrapper .space5 .row2 .item .pretitle {
    margin-top: 4px;
  }
  .c_wrapper .space5 .row2 .item .pretitle span {
    font-size: 14px;
  }
  .c_wrapper .space5 .row2 .item .title {
    margin-top: 2px;
  }
  .c_wrapper .space5 .row2 .item .title span {
    font-size: 14px;
  }
  .c_wrapper .space5 .row2 .item .text {
    margin-top: 0px;
    max-height: 67px;
    overflow: hidden;
  }
  .c_wrapper .space5 .row2 .item .text span {
    font-size: 12px;
  }
  .c_wrapper .space5 .row2 .item .button {
    margin-top: 12px;
    margin-bottom: 6px;
    width: 120px;
  }
  .c_wrapper .space5 .row2 .item .sharingline {
    height: 34px;
    padding-left: 8px;
    padding-right: 8px;
  }
  .c_wrapper .space5 .row2 .item .sharingline .left {
    padding-top: 8px;
  }
  .c_wrapper .space5 .row2 .item .sharingline .right {
    padding-top: 1px;
  }
}
@media (max-width: 548px) {
  .c_wrapper .space5 .row2 {
    flex-wrap: wrap;
    justify-content: center;
  }
  .c_wrapper .space5 .row2 .item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
}
