/*@media only screen and (max-width: 790px){
    .c_container{
        width: 100%;
    }
    .container_left_side_input_input{
        width: 100%;
    }
    .container_right_side_bar{
        width: 100%;
    }
}*/

@media only screen and (max-width: 1350px){
    .c_main{
        width: 1000px;
        margin: 20px auto;
        .c_main_shop{
            .b_basket{
                .b_left{
                    .b_main{
                        .b_item{
                            .b_line{
                                
                                b.center{
                                    flex-direction: row;
                                    flex-wrap: wrap;
                                    .b_description{
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .leftside{
                width: 480px;
                max-width: 480px;
                margin: 0 auto;
            }
            .rightside{
                width: 640px;
                max-width: 640px;
                margin: 0 auto;
            }
        }
    }
    .c_main_menu{
        
    }
}



@media only screen and (max-width: 1024px){
    /*****************************/

    .n_header{
        height: max-content;
        max-height: max-content;
        overflow: visible;
        .n_container{
            overflow: visible;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            width: 80%;
            height: 160px;
            
            margin: 0 auto;
            justify-content: space-around;
            .logo{
                order: 1;
                margin-left: 40px;
                margin-right: 10px;
                //margin: 0 auto;
            }
            .left{
                margin-top: 20px;
                margin-left: 0;
                order: 2;
                width: 254px;
                //margin: 3px auto;
                justify-content: center;
            }
            .right{
                margin-right: 0;
                order: 3;
                width: 254px;
                height: 40px;
                margin: 0;
                //margin: 3px auto;
                .rdy{
                    margin-top: 0px;
                    margin-left: 0px;
                }
                .nordy{
                    margin-top: 0px;
                    margin-left: 0px;
                }
            }
            .n_basket{
                order: 5;
                
                margin-top: 132px;
                margin-left: 256px;
                
            }
        }
    }
    .c_div_ul{
        display: flex;
        justify-content: center;
    }
    .navdiv{
        width: 625px;
    }

    /*****************************/
    .c_main{
        margin-top:40px;
        width: 696px;
        
        margin: 0px auto;
    }

    .c_main_menu{
        max-width: 200px;
    }
    .c_main_shop{
        max-width: 496px;
    }

    .c_main_shop_footer{
        display: flex;
        flex-direction: column;
        width: 100%;
        
        justify-content: center;
        width: 100%;
        height: max-content;
        margin: 10px auto;
    }

    .c_main_shop_footer_leftside{
        width: max-content;
        margin: 0 auto;
    }
    .c_main_shop_footer_rightside{
        padding-top: 5px;
        width: max-content;
        margin: 0 auto;
    }
    .c_div_ul{
        max-width: 100%;
        
    }
    .c_div_ul .nav{
        width: 680px;
        margin: 0px auto;

    }
    .c_div_ul .nav>li{
        padding-left: 5px;
        padding-right: 5px;
    }
    .c_footer{
        width: 740px;
        margin: 0 auto;
        .c_footer_subscribe{
            width: 100%;
            .footer_social_text{
                display: none;
            }
        }
    }
}

@media only screen and (max-width: 740px){
    
    /*********************************************************/
    
    

    /*********************************************************/
    .c_div_ul{
        display: none;
    }

    .c_main{
        .c_main_shop{

            .main_basket{
                flex-direction: column;
                width: 300px;
                .left{
                    .area{
                        .item{
                            display: flex;
                            flex-direction: column;
                            height: max-content;
                            .item_image{
                                width: 100%;
                            }
                            .delete{
                                width: 100%;
                                height: 40px;
                                .x{
                                    margin-top: 5px;
                                }
                            }
                        }
                    }
                    .continue{
                        margin-top: 10px;
                        .text{
                            width: 192px;
                            margin: 0px auto;
                        }
                    }
                }
            }
        }
        margin-top:40px;
        width: 100%;
        max-width: 780px;
        margin: 40px auto;
    }

    .c_main_menu{
        display: none;
    }
    .c_main_shop_content{
        justify-content: flex-start;
    }

    .c_main_shop{
        max-width: 496px;
        margin: 0 auto;
    }

    .c_main_shop_footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: max-content;
        margin: 10px auto;
    }

    .c_main_shop_footer_leftside{
        width: max-content;
        margin: 0 auto;
    }

    .c_main_shop_footer_rightside{
        width: max-content;
        margin: 5px auto;
    }

    .header{
        display: flex;
        flex-direction: column;
        overflow: visible;
        width: 100%;
        height: fit-content;
    }

    .c_wrapper{
        //display: flex;
        //flex-direction: column;
        //justify-content: center;
        
    }

    .c_container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        margin: 0 auto;
    }

    .container_right_side_bar_rdy{
        margin-top: 5px;
        margin-left: 0;
        
    }

    .container_right_side_bar_text_rdy{
        margin-top: 10px;
    }

    .logo{
        width: 316px;
        flex:1;
        margin: 0 auto;
    }

    .container_left_side{
        max-width: 254px;
        width: 254px;
        
        height: 40px;
        order: 2;
        margin: 0 auto;
    }

    .container_left_side_input{
        margin: 0;
        float: none;
    }

    

    .container_right_side{
        margin-top: 5px;
        width: 254px;
        height: 40px;
        order: 3;
        margin: 0 auto;
    }

    .container_right_side_bar{
        margin: 0;
        float: none;
    }

    .footer_subscribe{
        flex-direction: column;
    }

    .c_footer{
        width: 100%;
        flex-direction: column;
        margin-top: 5px;
        
    }
    .c_footer_subscribe{
        flex-direction: column;
        height: unset;
        margin-bottom: 10px;
        width: 100%;
    }

    .footer_social_img{
        width: 180px;
        margin: 0 auto;
    }

    .footer_social_text{
        display: none;
    }

    .footer_input{
        
        display: none;
    }
    .footer_information{
        display: none;
    }

    .c_copyright{
        display: none;
    }
    .n_header{
        height: max-content;
        max-height: max-content;
        overflow: visible;
        .n_container{
            overflow: visible;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            width: 100%;
            height: max-content;
            
            margin: 0 auto;
            justify-content: flex-start;
            .container_menu{
                order: 4;
                margin: 3px auto;
                display: flex;
                height: max-content;
            }
            .logo{
                order: 1;
                width: 286px;
                margin: 0 auto;
                img{
                    width: 100%;
                }
            }
            .left{
                order: 2;
                width: 254px;
                margin: 3px auto;
                justify-content: center;
            }
            .right{
                order: 3;
                width: 254px;
                height: 40px;
                margin: 3px auto;
                .rdy{
                    margin-top: 0px;
                    margin-left: 0px;
                }
                .nordy{
                    margin-top: 0px;
                    margin-left: 0px;
                }
            }
            .n_basket{
                order: 5;
                //width: 80%;
                margin-top: 250px;
                margin-left: 34px;
                //.item_image{
                //    display: none;
                //}
            }
        }
    }
    .c_main_shop{
        .leftside{
            width: 90%;
            height: max-content;
            .image{
                flex-wrap: wrap;
                height: 80%;
                overflow: hidden;
                width: 100%;
                .big{
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .small{
                    height: 61px;
                    overflow: hidden;
                    margin-top: 3px;
                }
            }
        }
        .rightside{
            width: 90%;
            .description{
                width: 100%;
                .bigtext{
                    margin-top: 10px;
                    margin-bottom: 10px;
                    span{
                        font-size: 24px;
                    }
                }
                .smalltext{
                    
                }
                .brakeline{
                    width: 100%;
                    margin-top: 0px;
                    margin-bottom: 0px;
                    margin-right: 0px;
                }
            }
        }
    }
    .c_main{
        .c_main_shop{
            .main_basket{
                .left{
                    .continue{
                        .block{
                            margin: 0 auto;
                        }
                    }
                }
            }
            .clientarea{
                flex-wrap: wrap;
                justify-content: space-around;
                .registration{
                    width: 80%;
                    .area{
                        .blockdata{
                            .line{
                                .inputname{
                                    span{
                                        font-size: 13px;
                                    }
                                }
                            }
                        }
                    }
                }
                .verticalopr{
                    display: none;
                }
                .newclient{
                    width: 44%;
                }
                .login{
                    width: 45%;
                }
                .verticalop{
                    width: 45%;
                    margin-top: -100px;
                    margin-left: 304px;
                    ul{
                        li{
                            text-align: center;
                            span{
                                
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 520px){
    //.c_main .c_main_shop .rightside
    .c_main{
        width: 100%;
        max-width: 308px;
        margin: 40px auto;
        margin-bottom: 5px;
        .c_main_shop{
            .rightside{
                width: 100%;
            }
        }
    }
    .c_main_menu{
        display: none;
    }
    .c_main_header_sort_chosenum{
        display: none;
    }

    .c_main_header_sort_sortby{
        margin: 5px auto;
    }

    .c_main_shop_content{
        justify-content: center;
    }

    .c_main_shop_header_text{
        text-align: center;
        margin: 0 auto;
    }

    .c_main_shop_header{
        padding-right: 0;
        width: 280px;
        margin: 0 auto;
    }

    .c_main_shop_footer{
        width: 100%;
        height: max-content;
        margin: 10px auto;
    }

    .top_line_info_left{
        width: max-content;
    }

    .top_line_info_left_text{
        display: none;
    }

    .top_line_info_right{
        width: max-content;
        float: left;
    }

    .logo{
        order: 1;
    }
    .container_left_side{
        order: 2;
    }
    .container_right_side{
        order: 3;
        display: flex;
        flex-direction: column;
        height: max-content;
    }

    .container_menu{
        display: flex;
    }
    .c_main{
        .c_main_shop{
            .main_basket{
                width: 100%;
                .left{
                    .area{
                        .item{
                            display: flex;
                            flex-direction: column;
                            height: max-content;
                            .item_image{
                                width: 100%;
                            }
                            .delete{
                                width: 100%;
                                height: 40px;
                                .x{
                                    margin-top: 5px;
                                }
                            }
                        }
                    }
                    .continue{
                        margin-top: 10px;
                        .text{
                            width: 192px;
                            margin: 0px auto;
                        }
                    }
                }
            }
        }
    }
    .c_main{
        .c_main_shop{
            .clientarea{
                flex-wrap: wrap;
                justify-content: space-around;
                .newclient{
                    width: 80%;
                }
                .login{
                    width: 80%;
                }
                .verticalop{
                    width: 80%;
                    margin-top: 20px;
                    margin-left: 0;
                    margin-bottom: 20px;
                    ul{
                        li{
                            text-align: center;
                            span{
                                
                            }
                        }
                    }
                }
            }
        }
    }
    .n_header{
        .n_container{
            .n_basket{
                width: 95%;
                margin-top: 234px;
                margin-left: 8px;
                .item_image{
                    
                }
            }
        }
    }
}


@media only screen and (max-width: 380px){
    .n_header{
        .n_container{
            .n_basket{
                width: 95%;
                margin-top: 234px;
                margin-left: 8px;
                .item_image{
                    display: none;
                }
            }
        }
    }
}

